@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.Servicos.Extensao
@model Turma

<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
            Alterar Turma
        </h5>
        <small class="text-muted float-end">
            Campos com <span style="color: red">*</span> săo obrigatórios.
        </small>
    </div>
    <div class="card-body">
        <form id="formulario-turma">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RedeDeEnsinoId)
            @Html.Hidden("SituacaoAnterior", (int)Model.Situacao)
            @Html.Hidden("SituacaoAtiva", (int)eSituacaoTurma.Ativa)

            <div class="row">
                <section class="col col-md-12">
                    <label class="form-label obrigatorio" for="EscolaId">Escola</label>
                    @Html.TextBox("EscolaNome", Model.Escola.Nome, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
                    @Html.Hidden("EscolaId", Model.EscolaId)
                </section>
            </div>

            <div class="row">
                <section class="col col-md-3 col-sm-12">
                    <label class="form-label obrigatorio" for="AnoLetivo">Ano Letivo</label>
                    @Html.TextBoxFor(model => model.AnoLetivo, new { @class = "form-control ano", @disabled = "disabled", @readonly = "readonly" })
                </section>

                <section class="col col-md-3 col-sm-12">
                    <label class="form-label obrigatorio" for="InicioDasAulas">Início das Aulas</label>
                    @Html.TextBox("InicioDasAulas", Model.InicioDasAulas.ToString("yyyy-MM-dd"), new { @class = "form-control data" })
                </section>

                <section class="col col-md-3 col-sm-12">
                    <label class="form-label obrigatorio" for="FimDasAulas">Fim das Aulas</label>
                    @Html.TextBox("FimDasAulas", Model.FimDasAulas.ToString("yyyy-MM-dd"), new { @class = "form-control data" })
                </section>

                <section class="col col-md-3 col-sm-12">
                    <label class="form-label obrigatorio">Situaçăo</label>
                    @Html.EnumDropDownListFor(model => model.Situacao, new { @class = "form-select" })
                </section>
            </div>

            <div class="row">
                <section class="col col-md-4 col-sm-12">
                    <label class="form-label obrigatorio" for="Descricao">Descriçăo</label>
                    @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", @maxlength = "100" })
                </section>

                <section class="col col-md-8 col-sm-12">
                    <label class="form-label obrigatorio" for="AnoEscolar">Ano Escolar</label>
                    @Html.EnumDropDownListFor(model => model.AnoEscolar, new { @class = "select2", @disabled = "disabled", @readonly = "readonly" })
                </section>
            </div>

            <div class="row">
                <section class="col col-md-4 col-sm-12">
                    <label class="form-label obrigatorio" for="Turno">Turno</label>
                    @Html.EnumDropDownListFor(model => model.Turno, new { @class = "form-select" })
                </section>

                <section class="col col-md-4 col-sm-12">
                    <label class="form-label obrigatorio" for="TipoDoDiario">Tipo do Diário</label>
                    @Html.EnumDropDownListFor(model => model.TipoDoDiario, new { @class = "form-select" })
                </section>
            </div>

            <br />
            <div class="row">
                <section class="col col-md-8 col-sm-12">
                    <h5>Alunos</h5>
                </section>
                @if (Model.Situacao == eSituacaoTurma.Ativa)
                {
                    <section class="col col-md-4 col-sm-12" style="float: right">
                        <button type="button" class="btn btn-primary btn-sm" onclick="abrirModalAlocarAlunos()" style="float: right">
                            <i class='bx bxs-plus-square'></i>
                        </button>
                    </section>
                }
            </div>
            <table class="table table-condensed table-bordered">
                <tbody>
                    @if (Model.ListaDeAlunos.Any())
                    {
                        foreach (var aluno in Model.ListaDeAlunos.OrderBy(c => c.Aluno.Nome))
                        {
                            <tr>
                                <td width="40%" title="Nome do aluno">
                                    @aluno.Aluno.Nome.ToUpper()
                                </td>
                                <td width="20%" class="text-center" title="Situaçăo do aluno">
                                    @aluno.Situacao.DescricaoDoEnumerador()
                                </td>
                                <td width="15%" class="text-center" title="Entrada do aluno na turma">
                                    @aluno.EntradaNaTurma.ToString("dd/MM/yyyy")
                                </td>
                                <td width="15%" class="text-center" title="Saída do aluno da turma">
                                    @(aluno.SaidaDaTurma?.ToString("dd/MM/yyyy") ?? "-")
                                </td>
                                <td width="10%" class="text-center">
                                    <button type="button" class="btn btn-danger btn-sm" onclick="removerVinculoDeAlunoTurma(@aluno.Id)" title="Remover aluno da turma">
                                        <i class='bx bx-trash'></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="abrirModalDadosAlunoTurma(@aluno.Id)">
                                        <i class='bx bxs-edit-alt'></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" width="90%">
                                Nenhum aluno na turma.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />
            <button type="button" class="btn btn-secondary" onclick="CarregarPagina('@Url.Action("Index", "Turma")')">
                <i class='bx bxs-left-arrow-circle'></i> Voltar
            </button>

            <button type="button" class="btn btn-primary" id="btn-salvar">
                <i class='bx bxs-save'></i> Salvar
            </button>
        </form>
    </div>
</div>
<div id="div-modal"></div>
<script src="/Scripts/Paginas/Turma/alterar.js?t=@DateTime.Now.Ticks"></script>