@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.Servicos.Extensao
@model Turma

<style>
    .tab-content {
        padding: 0px !important;
    }
</style>

<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
            Alterar Turma
        </h5>
        <small class="text-muted float-end">
            Campos com <span style="color: red">*</span> săo obrigatórios.
        </small>
    </div>
    <div class="card-body">
        <form id="formulario-turma">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RedeDeEnsinoId)
            @Html.Hidden("SituacaoAnterior", (int)Model.Situacao)
            @Html.Hidden("SituacaoAtiva", (int)eSituacaoTurma.Ativa)

            <div class="row">
                <section class="col col-md-12">
                    <label class="form-label obrigatorio" for="EscolaId">Escola</label>
                    @Html.TextBox("EscolaNome", Model.Escola.Nome, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
                    @Html.Hidden("EscolaId", Model.EscolaId)
                </section>
            </div>

            <div class="row">
                <section class="col col-md-3 col-sm-12">
                    <label class="form-label obrigatorio" for="AnoLetivo">Ano Letivo</label>
                    @Html.TextBoxFor(model => model.AnoLetivo, new { @class = "form-control ano", @disabled = "disabled", @readonly = "readonly" })
                </section>

                <section class="col col-md-3 col-sm-12">
                    <label class="form-label obrigatorio" for="InicioDasAulas">Início das Aulas</label>
                    @Html.TextBox("InicioDasAulas", Model.InicioDasAulas.ToString("yyyy-MM-dd"), new { @class = "form-control data" })
                </section>

                <section class="col col-md-3 col-sm-12">
                    <label class="form-label obrigatorio" for="FimDasAulas">Fim das Aulas</label>
                    @Html.TextBox("FimDasAulas", Model.FimDasAulas.ToString("yyyy-MM-dd"), new { @class = "form-control data" })
                </section>

                <section class="col col-md-3 col-sm-12">
                    <label class="form-label obrigatorio">Situaçăo</label>
                    @Html.EnumDropDownListFor(model => model.Situacao, new { @class = "form-select" })
                </section>
            </div>

            <div class="row">
                <section class="col col-md-4 col-sm-12">
                    <label class="form-label obrigatorio" for="Descricao">Descriçăo</label>
                    @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", @maxlength = "100" })
                </section>

                <section class="col col-md-8 col-sm-12">
                    <label class="form-label obrigatorio" for="AnoEscolar">Ano Escolar</label>
                    @Html.EnumDropDownListFor(model => model.AnoEscolar, new { @class = "select2", @disabled = "disabled", @readonly = "readonly" })
                </section>
            </div>

            <div class="row">
                <section class="col col-md-4 col-sm-12">
                    <label class="form-label obrigatorio" for="Turno">Turno</label>
                    @Html.EnumDropDownListFor(model => model.Turno, new { @class = "form-select" })
                </section>

                <section class="col col-md-4 col-sm-12">
                    <label class="form-label obrigatorio" for="TipoDoDiario">Tipo do Diário</label>
                    @Html.EnumDropDownListFor(model => model.TipoDoDiario, new { @class = "form-select" })
                </section>
            </div>

            <br />
            <div class="nav-align-top">
                <ul class="nav nav-pills mb-4 nav-fill" role="tablist">
                    <li class="nav-item mb-1 mb-sm-0" role="presentation">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#s1" aria-controls="s1" aria-selected="true">
                            <span class="d-sm-block">
                                <i class="tf-icons bx bxs-graduation bx-sm me-1_5 align-text-bottom"></i>
                                ALUNOS
                            </span>
                        </button>
                    </li>

                    <li class="nav-item mb-1 mb-sm-0" role="presentation">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#s2" aria-controls="s2" aria-selected="true">
                            <span class="d-sm-block">
                                <i class="tf-icons bx bx-time bx-sm me-1_5 align-text-bottom"></i>
                                HORÁRIO DE AULA
                            </span>
                        </button>
                    </li>

                    <li class="nav-item mb-1 mb-sm-0" role="presentation">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#s3" aria-controls="s3" aria-selected="true">
                            <span class="d-sm-block">
                                <i class="tf-icons bx bx-calendar bx-sm me-1_5 align-text-bottom"></i>
                                DIÁRIO DE CLASSE
                            </span>
                        </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="s1" role="tabpanel">
                        @if (Model.Situacao == eSituacaoTurma.Ativa)
                        {
                            <button type="button" class="btn btn-primary btn-sm" onclick="abrirModalAlocarAlunos()" style="float: right; margin-bottom: 10px;">
                                <i class='bx bxs-plus-square'></i> Adicionar alunos na turma
                            </button>
                        }
                        <table class="table table-condensed table-bordered">
                            <tbody>
                                @if (Model.ListaDeAlunos.Any())
                                {
                                    foreach (var aluno in Model.ListaDeAlunos.OrderBy(c => c.Aluno.Nome))
                                    {
                                        <tr>
                                            <td width="40%" title="Nome do aluno">
                                                @aluno.Aluno.Nome.ToUpper()
                                            </td>
                                            <td width="20%" class="text-center" title="Situaçăo do aluno">
                                                @aluno.Situacao.DescricaoDoEnumerador()
                                            </td>
                                            <td width="15%" class="text-center" title="Entrada do aluno na turma">
                                                @aluno.EntradaNaTurma.ToString("dd/MM/yyyy")
                                            </td>
                                            <td width="15%" class="text-center" title="Saída do aluno da turma">
                                                @(aluno.SaidaDaTurma?.ToString("dd/MM/yyyy") ?? "-")
                                            </td>
                                            <td width="10%" class="text-center">
                                                <button type="button" class="btn btn-primary btn-sm" onclick="abrirModalDadosAlunoTurma(@aluno.Id)">
                                                    <i class='bx bxs-edit-alt'></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" width="90%">
                                            Nenhum aluno na turma.
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade show" id="s2" role="tabpanel">
                        @{
                            var diasFixos = new[] {
                                eDiaDaSemana.Segunda, eDiaDaSemana.Terca, eDiaDaSemana.Quarta,
                                eDiaDaSemana.Quinta, eDiaDaSemana.Sexta,
                                eDiaDaSemana.Sabado, eDiaDaSemana.Domingo
                            };

                            var coresPastel = new Dictionary<eDiaDaSemana, string> {
                                { eDiaDaSemana.Segunda, "#FFF5E1" },
                                { eDiaDaSemana.Terca, "#E1F7F5" },
                                { eDiaDaSemana.Quarta, "#F2E8FF" },
                                { eDiaDaSemana.Quinta, "#FFF3F3" },
                                { eDiaDaSemana.Sexta, "#F0F4E1" },
                                { eDiaDaSemana.Sabado, "#E8F0FE" },
                                { eDiaDaSemana.Domingo, "#FDEFF2" }
                                };

                            var diasComDados = Model.ListaDeHorarioDeAula
                                .GroupBy(h => h.DiaDaSemana)
                                .ToDictionary(g => g.Key, g => g.OrderBy(h => h.InicioAula).ToList());
                        }

                        <div class="row gy-4">
                            @foreach (var dia in diasFixos)
                            {
                                var lista = diasComDados.ContainsKey(dia) ? diasComDados[dia] : new List<ItemHorarioDeAula>();
                                var corFundo = coresPastel[dia];

                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="p-3 rounded shadow-sm h-100" style="background-color:@corFundo; min-height: 100%;">
                                        <h6 class="fw-bold mb-3">@dia.DescricaoDoEnumerador()</h6>

                                        <table class="table table-bordered table-sm bg-white">
                                            <thead class="table-light">
                                                <tr>
                                                    <th style="width: 135px;">Horário</th>
                                                    <th>Disciplina</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (!lista.Any())
                                                {
                                                    <tr>
                                                        <td colspan="2" class="text-center text-muted">Nenhum horário cadastrado.</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    @foreach (var item in lista)
                                                    {
                                                        <tr>
                                                            <td>@item.InicioAula.ToString(@"hh\:mm") - @item.FimAula.ToString(@"hh\:mm")</td>
                                                            <td>
                                                                @if (item.Intervalo)
                                                                {
                                                                    <span class="text-muted">Intervalo</span>
                                                                }
                                                                else
                                                                {
                                                                    @item.Disciplina
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                <tr>
                                                    <td class="text-center" colspan="2">
                                                        <button type="button" class="btn btn-primary btn-sm" onclick="abrirModalHorarioDeAula(@((int)dia))">
                                                            <i class='bx bx-edit-alt'></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="tab-pane fade show" id="s3" role="tabpanel">
                        <div class="row">
                            <section class="col col-md-4 col-sm-12 col-12">
                                <label class="form-label obrigatorio">Męs</label>
                                @Html.DropDownList("MesAnoDiario", (List<SelectListItem>)ViewBag.MesesDoAno, string.Empty, new { @class = "select2" })
                            </section>
                        </div>
                        <div id="div-diario-classe"></div>
                    </div>
                </div>
            </div>

            <br />
            <button type="button" class="btn btn-secondary" onclick="CarregarPagina('@Url.Action("Index", "Turma")')">
                <i class='bx bxs-left-arrow-circle'></i> Voltar
            </button>

            <button type="button" class="btn btn-primary" id="btn-salvar">
                <i class='bx bxs-save'></i> Salvar
            </button>
        </form>
    </div>
</div>
<div id="div-modal"></div>
<script src="/Scripts/Paginas/Turma/alterar.js?t=@DateTime.Now.Ticks"></script>