@using AriD.BibliotecaDeClasses.Enumeradores

@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

@{
    var menuControlador = TempData[VariaveisDeMenu.MenuControlador] ?? string.Empty;
    var paginaAtual = TempData[VariaveisDeMenu.MenuPaginaAtual] ?? string.Empty;

    var dadosDaSessao = this.Context.DadosDaSessao();
}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <div class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </div>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text- large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

<ul class="menu-inner py-1">
     <li class='menu-item open'>
        <div class="divider" style="margin: 0px 15px 0px 15px;">
            <div class="divider-text">
                <i class="bx bx-slider-alt"></i>
                Administraçăo
            </div>
        </div>
      <ul class="menu-sub">
          @if (dadosDaSessao.Perfil == ePerfilDeAcesso.AdministradorDeSistema) 
          {
              <li class='menu-item'>
                  <a onclick="CarregarPagina('@Url.Action("Index", "Organizacao")')" href="javascript:void(0)" class="menu-link">
                    <div>
                        <i class='bx bx-buildings'></i>
                        Organizaçőes
                    </div>
                  </a>
              </li>
          }
          else 
          {
              <li class='menu-item'>
                  <a onclick="CarregarPagina('@Url.Action("Index", "Departamento")')" href="javascript:void(0)" class="menu-link">
                    <div>
                        <i class='bx bxs-bookmark'></i>
                        Departamento
                    </div>
                  </a>
                </li>
                <li class='menu-item'>
                    <a onclick="CarregarPagina('@Url.Action("Index", "EventoAnual")')" href="javascript:void(0)" class="menu-link">
                        <div>
                            <i class='bx bxs-calendar-event'></i>
                            Evento Anual
                        </div>
                    </a>
                </li>
                <li class='menu-item'>
                  <a onclick="CarregarPagina('@Url.Action("Index", "Funcao")')" href="javascript:void(0)" class="menu-link">
                    <div>
                        <i class='bx bxs-bookmark-alt'></i>
                        Funçăo
                    </div>
                  </a>
                </li>
                <li class='menu-item'>
                  <a onclick="CarregarPagina('@Url.Action("Index", "HorarioDeTrabalho")')" href="javascript:void(0)" class="menu-link">
                    <div>
                        <i class='bx bxs-timer'></i>
                        Horário de Trabalho
                    </div>
                  </a>
                </li>
                    <li class='menu-item'>
                        <a onclick="CarregarPagina('@Url.Action("Index", "JustificativaDeAusencia")')" href="javascript:void(0)" class="menu-link">
                            <div style="white-space: normal !important;">
                                <i class='bx bxs-bookmark-minus'></i>
                                Justificativa de Ausęncia
                            </div>
                        </a>
                    </li>
                @if (dadosDaSessao.Perfil == ePerfilDeAcesso.Organizacao) 
                {
                    <li class='menu-item'>
                        <a onclick="CarregarPagina('@Url.Action("Alterar", "Organizacao", new { id = dadosDaSessao.OrganizacaoId })')" href="javascript:void(0)" class="menu-link">
                        <div>
                            <i class='bx bx-buildings'></i>
                            Minha Organizaçăo
                        </div>
                        </a>
                    </li>
                }
                <li class='menu-item'>
                  <a onclick="CarregarPagina('@Url.Action("Index", "TipoDoVinculoDeTrabalho")')" href="javascript:void(0)" class="menu-link">
                    <div style="white-space: normal !important;" >
                        <i class='bx bxs-bookmarks'></i>
                        Tipo do Vínculo de Trabalho
                    </div>
                  </a>
                </li>
          }
      </ul>
    </li>
    @if (dadosDaSessao.Perfil != ePerfilDeAcesso.AdministradorDeSistema) 
    {
        <li class='menu-item open'>
            <div class="divider" style="margin: 0px 15px 0px 15px;">
                <div class="divider-text">
                    <i class='bx bxs-user-circle'></i>
                    Servidor
                </div>
            </div>
            <ul class="menu-sub">
                <li class='menu-item'>
                    <a onclick="CarregarPagina('@Url.Action("Index", "Servidor")')" href="javascript:void(0)" class="menu-link">
                        <div>
                            <i class='bx bxs-user-detail'></i>
                            Cadastro de Servidores
                        </div>
                    </a>
                </li>
                <li class='menu-item'>
                    <a onclick="CarregarPagina('@Url.Action("Index", "Escala")')" href="javascript:void(0)" class="menu-link">
                        <div>
                            <i class="bx bx-book-content"></i>
                            Escalas
                        </div>
                    </a>
                </li>
                <li class='menu-item'>
                    <a onclick="CarregarPagina('@Url.Action("Index", "FolhaDePonto")')" href="javascript:void(0)" class="menu-link">
                        <div>
                            <i class='bx bxs-calendar'></i>
                            Folha de Ponto
                        </div>
                    </a>
                </li>
                @* <li class='menu-item'>
                    <a onclick="CarregarPagina('@Url.Action("PontoDoDia", "FolhaDePonto")')" href="javascript:void(0)" class="menu-link">
                        <div>
                            <i class='bx bxs-calendar-star'></i>
                            Ponto do Dia
                        </div>
                    </a>
                </li> *@
            </ul>
        </li>
        <li class='menu-item open'>
            <div class="divider" style="margin: 0px 15px 0px 15px;">
                <div class="divider-text">
                    <i class='bx bxs-report'></i>
                    Relatórios
                </div>
            </div>
            <ul class="menu-sub">
                <li class='menu-item'>
                    <a onclick="CarregarPagina('@Url.Action("ServidoresComAfastamento", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                        <div style="white-space: normal !important;">
                            <i class='bx bxs-user-voice' ></i>
                            Servidores com Afastamentos
                        </div>
                    </a>
                </li>
                <li class='menu-item'>
                    <a onclick="CarregarPagina('@Url.Action("ServidoresPorEscala", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                        <div style="white-space: normal !important;">
                            <i class='bx bx-book-content' ></i>
                            Servidores por Escala
                        </div>
                    </a>
                </li>
                <li class='menu-item'>
                    <a onclick="CarregarPagina('@Url.Action("Relatorio", "Servidor")')" href="javascript:void(0)" class="menu-link">
                        <div style="white-space: normal !important;">
                            <i class='bx bxs-timer'></i>
                            Servidores por Horário de Trabalho
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    }
    <li class='menu-item open'>
        <div class="divider" style="margin: 0px 15px 0px 15px;">
            <div class="divider-text">
                <i class='bx bxs-user-badge'></i>
                Usuários
            </div>
        </div>
        <ul class="menu-sub">
            <li class='menu-item'>
                <a onclick="CarregarPagina('@Url.Action("Index", "Usuario")')" href="javascript:void(0)" class="menu-link">
                    <div style="white-space: normal !important;">
                        <i class='bx bxs-user-account'></i>
                        Cadastro de Usuários
                    </div>
                </a>
            </li>
        </ul>
    </li>
  </ul>
</aside>