@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.BibliotecaDeClasses.Enumeradores.Permissao

@{
    TempData.Keep();
}

@{
    var dadosDaSessao = this.Context.DadosDaSessao();
    var listaDePermissao = dadosDaSessao.Permissoes;
    var usuarioAdm = dadosDaSessao.UsuarioAdministradorAutenticado;

    var nomenclaturaServidores = Context.NomenclaturaServidores();
    var nomenclaturaServidor = Context.NomenclaturaServidor();
}

<style>
    #menuSearchInput {
        background-color: #ffffff !important;
        color: #495057 !important;
        border: 1px solid #d9dee3;
    }

    #menuSearchInput::placeholder {
        color: #b5b5b5;
    }

    .menu-inner > .menu-item {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 0 !important;
    }

    .menu-inner > .menu-item > .menu-link {
        padding-left: 1.5rem !important;
    }

    .menu-sub .menu-item .menu-link {
        padding-left: 2rem !important;
    }

    .menu-item.menu-group.open {
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid #d9dee3 !important;
        border-radius: 0.375rem !important;
    }

    .menu-group.open > .menu-sub {
        background: #c8d2e0;
    }

    .menu-inner {
        padding-right: 0;
        padding-left: 0;
    }

    .search-container {
        padding: 0 1.5rem 0.5rem 1.5rem; 
    }

    mark.highlight-text {
        background-color: #ffe000;
        color: #000;
        padding: 0;
        font-weight: bold;
        border-radius: 2px;
    }

    @@keyframes balancarSinoPausado {
      0% { transform: rotate(0); }
      4% { transform: rotate(15deg); }
      8% { transform: rotate(-15deg); }
      12% { transform: rotate(15deg); }
      16% { transform: rotate(-15deg); }
      20% { transform: rotate(15deg); }
      24% { transform: rotate(-15deg); }
      28% { transform: rotate(15deg); }
      32% { transform: rotate(-15deg); }
      37.5% { transform: rotate(0); }
      100% { transform: rotate(0); }
    }

    .sino-alerta {
      animation: balancarSinoPausado 8s ease-in-out infinite;
      color: #ffc107;
    }
</style>

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <div class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
        </div>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @if (dadosDaSessao.Perfil != ePerfilDeAcesso.AdministradorDeSistema && dadosDaSessao.Perfil != ePerfilDeAcesso.Servidor)
    {
        @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RecadoSistema.Visualizar, usuarioAdm))
        {
            <button type="button" class="btn btn-sm btn-secondary" id="btnRecados" onclick="abrirModalRecadosSistema()" style="margin: 5px 25px 10px 25px;">
                <i class='bx bx-bell'></i>
            </button>
        }

        <div class="search-container mb-2">
            <input type="text" id="menuSearchInput" class="form-control" placeholder="Pesquisar no menu..." autocomplete="off">
        </div>
    }

    <ul class="menu-inner py-1" id="main-menu-list">
        @if (dadosDaSessao.Perfil == ePerfilDeAcesso.Servidor)
        {
            <li class='menu-item searchable-item'>
                <a onclick="CarregarPagina('@Url.Action("RegistrosDePonto", "PortalServidor")')" href="javascript:void(0)" class="menu-link">
                    <i class='menu-icon bx bxs-time'></i>
                    <div class="menu-text-content">Registros de Ponto</div>
                </a>
            </li>
            <li class='menu-item searchable-item'>
                <a onclick="CarregarPagina('@Url.Action("Atestados", "PortalServidor")')" href="javascript:void(0)" class="menu-link">
                    <i class='menu-icon bx bx-plus-medical'></i>
                    <div class="menu-text-content">Atestados</div>
                </a>
            </li>
            <li class='menu-item searchable-item'>
                <a onclick="CarregarPagina('@Url.Action("AlterarSenha", "PortalServidor")')" href="javascript:void(0)" class="menu-link">
                    <i class='menu-icon bx bxs-log-in-circle'></i>
                    <div class="menu-text-content">Alterar Senha</div>
                </a>
            </li>
        }
        else
        {
            if (dadosDaSessao.Perfil != ePerfilDeAcesso.AdministradorDeSistema && listaDePermissao.PossuiPermissao(eItemDePermissao_Dashboard.Visualizar, usuarioAdm))
            {
                <li class='menu-item searchable-item'>
                    <a onclick="CarregarPagina('@Url.Action("Index", "Dashboard")')" href="javascript:void(0)" class="menu-link">
                        <i class='menu-icon bx bx-grid-alt'></i>
                        <div class="menu-text-content">Painel</div>
                    </a>
                </li>
            }

            @* Categoria: Administração *@
            <li class="menu-item menu-group">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons bx bx-cog'></i>
                    <div data-i18n="Administração">Administração</div>
                </a>
                <ul class="menu-sub">
                    @if (dadosDaSessao.Perfil == ePerfilDeAcesso.AdministradorDeSistema)
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "Organizacao")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-buildings'></i>
                                <div class="menu-text-content">Organizações</div>
                            </a>
                        </li>
                    }
                    @if (dadosDaSessao.Perfil == ePerfilDeAcesso.Organizacao)
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Alterar", "Organizacao", new { id = dadosDaSessao.OrganizacaoId })')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-buildings'></i>
                                <div class="menu-text-content">Minha Organização</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_Departamento.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "Departamento")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-folder'></i>
                                <div class="menu-text-content">Departamentos</div>
                            </a>
                        </li>
                    }
                    @if ((dadosDaSessao.Perfil == ePerfilDeAcesso.Organizacao || dadosDaSessao.Perfil == ePerfilDeAcesso.AdministradorDeSistema) && listaDePermissao.PossuiPermissao(eItemDePermissao_Usuarios.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "Usuario")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-user-plus'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">Cadastro de Usuários</div>
                            </a>
                        </li>
                    }
                    @if (dadosDaSessao.Perfil == ePerfilDeAcesso.Organizacao && listaDePermissao.PossuiPermissao(eItemDePermissao_GrupoDePermissao.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "GrupoDePermissao")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-key'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">Grupo de Permissão</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>

            @* Categoria: Pessoas *@
            <li class="menu-item menu-group">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-group"></i>
                    <div data-i18n="Pessoas">Pessoas</div>
                </a>
                <ul class="menu-sub">
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_Servidor.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "Servidor")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-user-pin'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">Cadastro de @nomenclaturaServidores</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_Funcao.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "Funcao")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-briefcase-alt-2'></i>
                                <div class="menu-text-content">Cargo/Função</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_TipoDeVinculoDeTrabalho.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "TipoDoVinculoDeTrabalho")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-bookmarks'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">Tipo do Vínculo de Trabalho</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_MotivoDeDemissao.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "MotivoDeDemissao")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-user-x'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">Motivo de Demissão</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>

            @* Categoria: Equipamento de Ponto *@
            <li class="menu-item menu-group">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-mobile-vibration"></i>
                    <div data-i18n="Equipamento de Ponto">Equipamento de Ponto</div>
                </a>
                <ul class="menu-sub">
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_EquipamentoDePonto.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "EquipamentoDePonto")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-devices'></i>
                                <div class="menu-text-content">Equipamento de Ponto</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RegistrosDePonto.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "RegistroDePonto")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-list-ul'></i>
                                <div class="menu-text-content">Registros de Ponto</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_ImportarAFD.ImportarArquivoFonteDeDados, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("ImportarAFD", "EquipamentoDePonto")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-upload'></i>
                                <div class="menu-text-content">Importar AFD</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>

            @* Categoria: Configuração de Ponto *@
            <li class="menu-item menu-group">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-time-five"></i>
                    <div data-i18n="Configurações de Ponto">Configuração de Ponto</div>
                </a>
                <ul class="menu-sub">
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_HorarioDeTrabalho.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "HorarioDeTrabalho")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-stopwatch'></i>
                                <div class="menu-text-content">Horários de Trabalho</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_Escala.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "Escala")')" href="javascript:void(0)" class="menu-link">
                                <i class="menu-icon bx bx-calendar-event"></i>
                                <div class="menu-text-content">Escalas</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_JustificativaDeAusencia.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "JustificativaDeAusencia")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-note'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">Justificativa de Ausência</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_EventoAnual.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "EventoAnual")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-calendar-star'></i>
                                <div class="menu-text-content">Evento Anual</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>

            @* Categoria: Apuração e Folha *@
            <li class="menu-item menu-group">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-calendar-check"></i>
                    <div data-i18n="Apuração e Folha">Apuração e Folha</div>
                </a>
                <ul class="menu-sub">
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_FolhaDePonto.Gerenciar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "FolhaDePonto")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-calendar-edit'></i>
                                <div class="menu-text-content">Folha de Ponto</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_Bonus.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "Bonus")')" href="javascript:void(0)" class="menu-link">
                                <i class="menu-icon bx bx-medal"></i>
                                <div class="menu-text-content" style="white-space: normal !important;">Configurações de Bônus</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_ExportacaoFolhaPagamento.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "ExportacaoFolhaPagamento")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-money-withdraw'></i>
                                <div class="menu-text-content">Folha de Pagamento</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>

            @* Categoria: Gestão Mobile *@
            <li class="menu-item menu-group">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons bx bx-mobile'></i>
                    <div data-i18n="Gestão Mobile">Gestão Mobile</div>
                </a>
                <ul class="menu-sub">
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_Motorista.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "Motorista")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-user-circle'></i>
                                <div class="menu-text-content">Motoristas</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_Veiculo.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "Veiculo")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-car'></i>
                                <div class="menu-text-content">Veículos</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_Rota.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Index", "Rota")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-map-alt'></i>
                                <div class="menu-text-content">Rotas</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_MonitoramentoMobile.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("Monitoramento", "Rota")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-map'></i>
                                <div class="menu-text-content">Monitoramento</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>

            @* Categoria: Relatórios *@
            <li class="menu-item menu-group">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons bx bx-bar-chart-alt-2'></i>
                    <div data-i18n="Relatórios">Relatórios</div>
                </a>
                <ul class="menu-sub">
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RelatorioAniversariantesDoPeriodo.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("AniversariantesDoPeriodo", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-calendar'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">Aniversariantes do Período</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RelatorioConferenciaDePonto.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("ConferenciaDePontoDiario", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-calendar-check'></i> 
                                <div class="menu-text-content" style="white-space: normal !important;">Conferência de Ponto Diário</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RelatorioListaDeServidores.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("ListaDeServidores", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-list-ul'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">Lista de @nomenclaturaServidores</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RelatorioServidoresDemitidos.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("ServidoresDemitidos", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-user-minus'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">@nomenclaturaServidores Demitidos</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RelatorioServidoresComAfastamento.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("ServidoresComAfastamento", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-user-voice'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">@nomenclaturaServidores com Afastamentos</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RelatorioServidoresComEscala.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("ServidoresPorEscala", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-book-content'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">@nomenclaturaServidores por Escala</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RelatorioServidoresPorHorarioDeTrabalho.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("ServidoresPorHorarioDeTrabalho", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-timer'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">@nomenclaturaServidores por Horário de Trabalho</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RelatorioServidoresPorLotacao.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("ServidoresPorLotacao", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-list-ol'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">@nomenclaturaServidores por Lotação</div>
                            </a>
                        </li>
                    }
                    @if (listaDePermissao.PossuiPermissao(eItemDePermissao_RelatorioHorasPorServidor.Visualizar, usuarioAdm))
                    {
                        <li class='menu-item searchable-item'>
                            <a onclick="CarregarPagina('@Url.Action("HorasPorServidor", "Relatorio")')" href="javascript:void(0)" class="menu-link">
                                <i class='menu-icon bx bx-time-five'></i>
                                <div class="menu-text-content" style="white-space: normal !important;">Horas Positivas/Negativas por @nomenclaturaServidor</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>


        }
    </ul>
</aside>

<div id="div-modal-recados"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const menuSearchInput = document.getElementById('menuSearchInput');
        const menuItems = document.querySelectorAll('.searchable-item');
        const menuGroups = document.querySelectorAll('.menu-group');

        function removerAcentos(str) {
            return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
        }

        function criarRegexParaHighlight(termo) {
            const mapaAcentos = {
                'a': '[aáàâãä]', 'e': '[eéèêë]', 'i': '[iíìîï]',
                'o': '[oóòôõö]', 'u': '[uúùûü]', 'c': '[cç]',
                'n': '[nñ]', 'y': '[yýÿ]'
            };

            let termoSeguro = termo.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');

            termoSeguro = termoSeguro.replace(/[aeioucny]/gi, function(match) {
                return mapaAcentos[match.toLowerCase()] || match;
            });

            return new RegExp(`(${termoSeguro})`, 'gi');
        }

        function verificarGruposVazios() {
            menuGroups.forEach(group => {
                const subItems = group.querySelectorAll('.menu-sub li');
                const visibleSubItems = Array.from(subItems).filter(item => item.style.display !== 'none');

                if (visibleSubItems.length === 0) {
                    group.style.display = 'none';
                } else {
                    group.style.display = '';
                }
            });
        }

        verificarGruposVazios();

        menuSearchInput.addEventListener('input', function () {
            const textoDigitado = this.value;
            const textoFiltro = removerAcentos(textoDigitado);

            menuItems.forEach(item => {
                const textDiv = item.querySelector('.menu-text-content');

                if (!textDiv.hasAttribute('data-original-text')) {
                    textDiv.setAttribute('data-original-text', textDiv.textContent);
                }

                const textoOriginal = textDiv.getAttribute('data-original-text');
                const textoOriginalNormalizado = removerAcentos(textoOriginal);

                if (textoOriginalNormalizado.includes(textoFiltro)) {
                    item.style.display = '';

                    if (textoFiltro.length > 0) {
                        const regexHighlight = criarRegexParaHighlight(textoDigitado);
                        if (textoOriginal.match(regexHighlight)) {
                            textDiv.innerHTML = textoOriginal.replace(regexHighlight, '<mark class="highlight-text">$1</mark>');
                        } else {
                            textDiv.innerHTML = textoOriginal;
                        }

                        const parentGroup = item.closest('.menu-group');
                        if (parentGroup) {
                            parentGroup.classList.add('open');
                        }
                    } else {
                        textDiv.innerHTML = textoOriginal;
                    }
                } else {
                    item.style.display = 'none';
                    textDiv.innerHTML = textoOriginal;
                }
            });

            if (textoFiltro.length === 0) {
                document.querySelectorAll('.menu-group.open').forEach(group => {
                    group.classList.remove('open');
                });
            }

            verificarGruposVazios();
        });
    });
</script>
