@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.Servicos.Extensao
@using AriD.BibliotecaDeClasses.Enumeradores.Permissao
@model GrupoDePermissao

@{
    var podeRemover = Context.PossuiPermissao(eItemDePermissao_GrupoDePermissao.Excluir);
    var podeAlterar = Context.PossuiPermissao(eItemDePermissao_GrupoDePermissao.CadastrarOuAlterar);

    var nomenclaturaServidores = Context.NomenclaturaServidores();
}

<style>
    .table-permissao {
    width: 100%;
    margin-bottom: 3px;
    }

    .table-permissao td {
    border: 1px solid #b3b3b3;
    padding: 2px 5px 2px 5px;
    }

    .table-titulo  {
    width: 100%
    }

    .table-titulo td {
    padding: 5px;
    border: 1px solid #b3b3b3;
    background-color: lightgrey;
    color: black;
    font-weight: 800;
    }

</style>

<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
            Alterar Grupo de Permissão
        </h5>
    </div>
    <div class="card-body">
        <form id="formulario-grupodepermissao">
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="col col-lg-3 col-md-12 col-sm-6">
                    <label class="form-label obrigatorio" for="Sigla">Sigla</label>
                    @Html.TextBoxFor(model => model.Sigla, new { @class = "form-control", @maxlength = "5" })
                </div>

                <div class="col col-lg-3 col-md-12 col-sm-6 float-end">
                    <label class="form-label obrigatorio" for="Ativo">Ativo</label>
                    @Html.CheckboxDropDownListFor(model => model.Ativo, new { @class = "form-select" })
                </div>

                <div class="col col-lg-6 col-md-12 col-sm-12">
                    <label class="form-label obrigatorio" for="Descricao">Perfil de Acesso</label>
                    @Html.TextBox("PerfilDeAcessoDescricao", Model.PerfilDeAcesso.DescricaoDoEnumerador(), new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
                    @Html.HiddenFor(model => model.PerfilDeAcesso)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12">
                    <label class="form-label obrigatorio" for="Descricao">Descrição</label>
                    @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", @maxlength = "100" })
                </div>
            </div>

            @if (Model.PerfilDeAcesso != ePerfilDeAcesso.Servidor)
            {
                <br />
                var modelRecadoSistema =
                    new Tuple<string, Type, GrupoDePermissao>("Recados", typeof(eItemDePermissao_RecadoSistema), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelRecadoSistema)
            }

            @if (Model.PerfilDeAcesso != ePerfilDeAcesso.Departamento)
            {
                <br />
                var modelDashboard =
                    new Tuple<string, Type, GrupoDePermissao>("Dashboard", typeof(eItemDePermissao_Dashboard), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelDashboard)
            }

            @if (Model.PerfilDeAcesso != ePerfilDeAcesso.Departamento)
            {
                <br />
                <table class="table-titulo">
                    <tr>
                        <td class="text-center">
                            <i class="bx bx-slider-alt"></i>
                            Administração
                        </td>
                    </tr>
                </table>
            }

            @if (Model.PerfilDeAcesso == ePerfilDeAcesso.Organizacao) 
            {
                var modelFuncao =
                    new Tuple<string, Type, GrupoDePermissao>("Cargo/Função", typeof(eItemDePermissao_Funcao), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelFuncao)

                var modelDepartamento = 
                    new Tuple<string, Type, GrupoDePermissao>("Departamento", typeof(eItemDePermissao_Departamento), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelDepartamento)

                var modelEventoAnual =
                new Tuple<string, Type, GrupoDePermissao>("Evento Anual", typeof(eItemDePermissao_EventoAnual), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelEventoAnual)
            }

            @if (Model.PerfilDeAcesso != ePerfilDeAcesso.Departamento)
            {
                var modelEquipamento =
                    new Tuple<string, Type, GrupoDePermissao>("Equipamento de Ponto", typeof(eItemDePermissao_EquipamentoDePonto), Model);

                @await Html.PartialAsync("_PartialItemPermissao", modelEquipamento)
            }

            @if (Model.PerfilDeAcesso == ePerfilDeAcesso.Organizacao) 
            {
                var modelHorario =
                    new Tuple<string, Type, GrupoDePermissao>("Horário de Trabalho", typeof(eItemDePermissao_HorarioDeTrabalho), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelHorario)
            }

            @if (Model.PerfilDeAcesso != ePerfilDeAcesso.Departamento)
            {
                var modelImportarAFD =
                    new Tuple<string, Type, GrupoDePermissao>("Importar AFD", typeof(eItemDePermissao_ImportarAFD), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelImportarAFD)
            }

            @if (Model.PerfilDeAcesso == ePerfilDeAcesso.Organizacao)
            {
                var modelJustificativa =
                    new Tuple<string, Type, GrupoDePermissao>("Justificativa de Ausência", typeof(eItemDePermissao_JustificativaDeAusencia), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelJustificativa)



                var modelMotivoDeDemissao =
                    new Tuple<string, Type, GrupoDePermissao>("Motivo de Demissão", typeof(eItemDePermissao_MotivoDeDemissao), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelMotivoDeDemissao)

                var modelTipoDeVinculo =
                    new Tuple<string, Type, GrupoDePermissao>("Tipo de Vínculo de Trabalho", typeof(eItemDePermissao_TipoDeVinculoDeTrabalho), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelTipoDeVinculo)

                <br />
            }
            <table class="table-titulo">
                <tr>
                    <td class="text-center">
                        <i class='bx bxs-user-circle'></i>
                        Servidor
                    </td>
                </tr>
            </table>

            @if (Model.PerfilDeAcesso == ePerfilDeAcesso.Organizacao) 
            {
                var modelServidor =
                new Tuple<string, Type, GrupoDePermissao>($"Cadastro de {nomenclaturaServidores}", typeof(eItemDePermissao_Servidor), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelServidor)

                var modelEscala =
                new Tuple<string, Type, GrupoDePermissao>("Escalas", typeof(eItemDePermissao_Escala), Model);
                @await Html.PartialAsync("_PartialItemPermissao", modelEscala)
            }

            @{
                var modelFolhaDePonto =
                new Tuple<string, Type, GrupoDePermissao>("Folha de Ponto", typeof(eItemDePermissao_FolhaDePonto), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelFolhaDePonto)

            @{
                var modelRegistrosDePonto =
                new Tuple<string, Type, GrupoDePermissao>("Registros de Ponto", typeof(eItemDePermissao_RegistrosDePonto), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRegistrosDePonto)

            <br />
            <table class="table-titulo">
                <tr>
                    <td class="text-center">
                        <i class='bx bxs-report'></i>
                        Relatórios
                    </td>
                </tr>
            </table>

            @{
                var modelRelAniversariantes =
                    new Tuple<string, Type, GrupoDePermissao>($"Aniversariantes do Período", typeof(eItemDePermissao_RelatorioAniversariantesDoPeriodo), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRelAniversariantes)

            @{
                var modelRelAuditoriaAusencias =
                    new Tuple<string, Type, GrupoDePermissao>($"Auditoria de Ausências", typeof(eItemDePermissao_RelatorioAuditoriaDeAusencias), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRelAuditoriaAusencias)

            @{
                var modelRelConferenciaDePonto =
                    new Tuple<string, Type, GrupoDePermissao>($"Conferência de Ponto Diário", typeof(eItemDePermissao_RelatorioConferenciaDePonto), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRelConferenciaDePonto)

            @{
                var modelRelListaDeServidores =
                new Tuple<string, Type, GrupoDePermissao>($"Lista de {nomenclaturaServidores}", typeof(eItemDePermissao_RelatorioListaDeServidores), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRelListaDeServidores)

            @{
                var modelRelServidoresDemitidos =
                new Tuple<string, Type, GrupoDePermissao>($"{nomenclaturaServidores} Demitidos", typeof(eItemDePermissao_RelatorioServidoresDemitidos), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRelServidoresDemitidos)
            
            @{
                var modelRelServidoresComAfastamento =
                new Tuple<string, Type, GrupoDePermissao>($"{nomenclaturaServidores} com Afastamentos", typeof(eItemDePermissao_RelatorioServidoresComAfastamento), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRelServidoresComAfastamento)

            @{
                var modelRelServidoresPorEscala =
                new Tuple<string, Type, GrupoDePermissao>($"{nomenclaturaServidores} por Escala", typeof(eItemDePermissao_RelatorioServidoresComEscala), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRelServidoresPorEscala)

            @{
                var modelRelServidoresPorHorario =
                new Tuple<string, Type, GrupoDePermissao>($"{nomenclaturaServidores} por Horário de Trabalho", typeof(eItemDePermissao_RelatorioServidoresPorHorarioDeTrabalho), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRelServidoresPorHorario)

            @{
                var modelRelServidoresPorLotacao =
                new Tuple<string, Type, GrupoDePermissao>($"{nomenclaturaServidores} por Lotação", typeof(eItemDePermissao_RelatorioServidoresPorLotacao), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRelServidoresPorLotacao)
            
            @{
                var modelRelHorasPorServidor =
                new Tuple<string, Type, GrupoDePermissao>($"Horas Positivas/Negativas por {nomenclaturaServidores}", typeof(eItemDePermissao_RelatorioHorasPorServidor), Model);
            }
            @await Html.PartialAsync("_PartialItemPermissao", modelRelHorasPorServidor)


            @if (Model.PerfilDeAcesso != ePerfilDeAcesso.Departamento)
            {
                <br />
                <table class="table-titulo">
                    <tr>
                        <td class="text-center">
                            <i class='bx bxs-user-badge'></i>
                            Usuários
                        </td>
                    </tr>
                </table>

                var modelCadastroUsuarios =
                new Tuple<string, Type, GrupoDePermissao>("Cadastro de Usuários", typeof(eItemDePermissao_Usuarios), Model);

                @await Html.PartialAsync("_PartialItemPermissao", modelCadastroUsuarios)

                var modelGrupoDePermissao =
                new Tuple<string, Type, GrupoDePermissao>("Grupos de Permissão", typeof(eItemDePermissao_GrupoDePermissao), Model);

                @await Html.PartialAsync("_PartialItemPermissao", modelGrupoDePermissao)
            }

            <br />
            <button type="button" class="btn btn-secondary" onclick="CarregarPagina('@Url.Action("Index", "GrupoDePermissao")')">
                <i class='bx bxs-left-arrow-circle'></i> Voltar
            </button>

            @if (podeRemover)
            {
                <button type="button" class="btn btn-danger" onclick="removerGrupo(@Model.Id)">
                    <i class="bx bx-trash"></i> Remover
                </button>
            }

            @if (podeAlterar)
            {
                <button type="button" class="btn btn-primary" id="btn-salvar">
                    <i class='bx bxs-save'></i> Salvar
                </button>
            }
        </form>
    </div>
</div>

<script src="/Scripts/Paginas/GrupoDePermissao/alterar.js?t=@DateTime.Now.Ticks"></script>