@model GrupoDePermissao

<div class="modal" tabindex="-1" id="_Modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Grupo de Permiss„o</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formulario-grupodepermissao">
                    @Html.HiddenFor(model => model.Id)
                    <div class="row">
                        <div class="col col-lg-4 col-md-12 col-sm-6">
                            <label class="form-label obrigatorio" for="Sigla">Sigla</label>
                            @Html.TextBoxFor(model => model.Sigla, new { @class = "form-control", @maxlength = "5" })
                        </div>

                        <div class="col col-lg-4 col-md-12 col-sm-6 float-end">
                            <label class="form-label obrigatorio" for="Ativo">Ativo</label>
                            @Html.CheckboxDropDownListFor(model => model.Ativo, new { @class = "form-select" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-12">
                            <label class="form-label obrigatorio" for="Descricao">DescriÁ„o</label>
                            @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", @maxlength = "100" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-12">
                            <label class="form-label obrigatorio" for="PerfilDeAcesso">Perfil de Acesso</label>
                            @Html.EnumDropDownListFor(model => model.PerfilDeAcesso, new { @class = "select2" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class='bx bx-window-close'></i> Fechar
                </button>

                <button type="button" class="btn btn-primary" id="btn-salvar-modal">
                    <i class='bx bxs-save'></i> Salvar
                </button>
            </div>
        </div>
    </div>
</div>
