@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.Servicos.Extensao
@model PontoDoDia

@{
    var exibirNomeServidor = (bool?)ViewBag.ExibirNomeServidor ?? true;
    var horarioDeTrabalho = Model.VinculoDeTrabalho.HorarioDeTrabalho;
    var dataString = @Model.Data.ToString("yyyy-MM-dd");
    var dataTicks = Model.Data.Ticks;

    var afastamento = Model.Afastamento;
    var siglaAfastamento = afastamento?.JustificativaDeAusencia?.Sigla;

    var tituloLinha = string.Empty;
    var classeInteracao = string.Empty;
    if (string.IsNullOrEmpty(siglaAfastamento) && !Model.PontoFechado) 
    {
        classeInteracao = "item-selecionavel";
    }

    var classeAfastamento = string.Empty;
    if (afastamento != null) 
    {
        tituloLinha = $"{afastamento.JustificativaDeAusencia.SiglaComDescricao} - De: {afastamento.Inicio.ToShortDateString()} Até: {(afastamento.Fim?.ToShortDateString() ?? "-")}";

        if (afastamento.JustificativaDeAusencia.Abono) 
        {
            classeAfastamento = "linha-afastamento linha-afastamento-abono";
        }
        else 
        {
            classeAfastamento = "linha-afastamento linha-afastamento-sem-abono";
        }
    }

    var classePontoFechado = string.Empty;
    if (Model.PontoFechado)
    {
        classePontoFechado = "ponto-fechado";
    }

    var eventos = (List<EventoAnual>)ViewBag.Eventos;
    var eventoDoDia = eventos.FirstOrDefault(c => c.Data.Date == Model.Data.Date);
}

<tr id="linha-@(Model.VinculoDeTrabalhoId)-@(Model.Data.Ticks)" class="linha-servidor @(exibirNomeServidor ? string.Empty : "linha-dia") @(classeAfastamento) @(classePontoFechado)" data-vinculodetrabalhoid="@Model.VinculoDeTrabalhoId" title="@tituloLinha">
    @if (exibirNomeServidor) 
    {
        <td>
            @Model.VinculoDeTrabalho.Servidor.Nome
        </td>
    }
    else 
    {
        <td>
            @Model.Data.ToShortDateString() - @(Model.DiaDaSemana.SiglaDaSemanaDoEnumerador())
            @if (eventoDoDia != null) 
            {
                @Html.Raw($" [{eventoDoDia.Descricao} ({eventoDoDia.Tipo.DescricaoDoEnumerador()})]")
            }
        </td>
    }

    @if (Model.DataFutura)
    {
        <td colspan="99" class="text-center" style="background: #3a3b3dab; color: white;">
            @Html.Raw("< Data Futura >")
        </td>
    }
    else 
    {
        @* PERÍODO 1 *@
        <td class="text-center @classeInteracao entrada1 @(Model.RegistroEntradaApp(1) ? "registro-app" : string.Empty) @(Model.PossuiRegistroNaEntrada(1) ? "executa-movimentacao" : string.Empty)" data-id="@Model.Id" data-acao="entrada1" data-justificativaid="@Model.JustificativaPeriodo1Id" onclick="modalPontoDia(@Model.VinculoDeTrabalhoId, '@dataString', '@dataTicks', 'entrada1')">
            @Model.DescricaoEntrada(1)
        </td>
        <td class="text-center @classeInteracao saida1 @(Model.RegistroSaidaApp(1) ? "registro-app" : string.Empty) @(Model.PossuiRegistroNaSaida(1) ? "executa-movimentacao" : string.Empty)" data-id="@Model.Id" data-acao="saida1" onclick="modalPontoDia(@Model.VinculoDeTrabalhoId, '@dataString', '@dataTicks', 'saida1')">
            @Model.DescricaoSaida(1)
        </td>

        @* PERÍODO 2 *@
        <td class="text-center @classeInteracao entrada2 @(Model.RegistroEntradaApp(2) ? "registro-app" : string.Empty) @(Model.PossuiRegistroNaEntrada(2) ? "executa-movimentacao" : string.Empty)" data-id="@Model.Id" data-acao="entrada2" data-justificativaid="@Model.JustificativaPeriodo2Id" onclick="modalPontoDia(@Model.VinculoDeTrabalhoId, '@dataString', '@dataTicks', 'entrada2')">
            @Model.DescricaoEntrada(2)
        </td>
        <td class="text-center @classeInteracao saida2 @(Model.RegistroSaidaApp(2) ? "registro-app" : string.Empty) @(Model.PossuiRegistroNaSaida(2) ? "executa-movimentacao" : string.Empty)" data-id="@Model.Id" data-acao="saida2" onclick="modalPontoDia(@Model.VinculoDeTrabalhoId, '@dataString', '@dataTicks', 'saida2')">
            @Model.DescricaoSaida(2)
        </td>

        @* PERÍODO 3 *@
        <td class="text-center @classeInteracao entrada3 @(Model.RegistroEntradaApp(3) ? "registro-app" : string.Empty) @(Model.PossuiRegistroNaEntrada(3) ? "executa-movimentacao" : string.Empty)" data-id="@Model.Id" data-acao="entrada3" data-justificativaid="@Model.JustificativaPeriodo3Id" onclick="modalPontoDia(@Model.VinculoDeTrabalhoId, '@dataString', '@dataTicks', 'entrada3')">
            @Model.DescricaoEntrada(3)
        </td>
        <td class="text-center @classeInteracao saida3 @(Model.RegistroSaidaApp(3) ? "registro-app" : string.Empty) @(Model.PossuiRegistroNaSaida(3) ? "executa-movimentacao" : string.Empty)" data-id="@Model.Id" data-acao="saida3" onclick="modalPontoDia(@Model.VinculoDeTrabalhoId, '@dataString', '@dataTicks', 'saida3')">
            @Model.DescricaoSaida(3)
        </td>

        @if (horarioDeTrabalho.UtilizaCincoPeriodos)
        {
            @* PERÍODO 4 *@
            <td class="text-center @classeInteracao entrada4 @(Model.RegistroEntradaApp(4) ? "registro-app" : string.Empty) @(Model.PossuiRegistroNaEntrada(4) ? "executa-movimentacao" : string.Empty)" data-id="@Model.Id" data-acao="entrada4" data-justificativaid="@Model.JustificativaPeriodo4Id" onclick="modalPontoDia(@Model.VinculoDeTrabalhoId, '@dataString', '@dataTicks', 'entrada4')">
                @Model.DescricaoEntrada(4)
            </td>
            <td class="text-center @classeInteracao saida4 @(Model.RegistroSaidaApp(4) ? "registro-app" : string.Empty) @(Model.PossuiRegistroNaSaida(4) ? "executa-movimentacao" : string.Empty)" data-id="@Model.Id" data-acao="saida4" onclick="modalPontoDia(@Model.VinculoDeTrabalhoId, '@dataString', '@dataTicks', 'saida4')">
                @Model.DescricaoSaida(4)
            </td>

            @* PERÍODO 5 *@
            <td class="text-center @classeInteracao entrada5 @(Model.RegistroEntradaApp(5) ? "registro-app" : string.Empty) @(Model.PossuiRegistroNaEntrada(5) ? "executa-movimentacao" : string.Empty)" data-id="@Model.Id" data-acao="entrada5" data-justificativaid="@Model.JustificativaPeriodo5Id" onclick="modalPontoDia(@Model.VinculoDeTrabalhoId, '@dataString', '@dataTicks', 'entrada5')">
                @Model.DescricaoEntrada(5)
            </td>
            <td class="text-center @classeInteracao saida5 @(Model.RegistroSaidaApp(5) ? "registro-app" : string.Empty) @(Model.PossuiRegistroNaSaida(5) ? "executa-movimentacao" : string.Empty)" data-id="@Model.Id" data-acao="saida5" onclick="modalPontoDia(@Model.VinculoDeTrabalhoId, '@dataString', '@dataTicks', 'saida5')">
                @Model.DescricaoSaida(5)
            </td>
        }

        <td class="text-center">
            @(Model.HorasTrabalhadas?.ToString(@"hh\:mm"))
        </td>

        <td class="text-center">
            @(Model.CargaHoraria?.ToString(@"hh\:mm"))
        </td>

        <td class="text-center">
            @(Model.HorasPositivas?.ToString(@"hh\:mm"))
        </td>

        <td class="text-center">
            @(Model.HorasNegativas?.ToString(@"hh\:mm"))
        </td>

        @if (horarioDeTrabalho.UtilizaBancoDeHoras)
        {
            <td class="text-center">
                @if ((Model.BancoDeHorasCredito ?? TimeSpan.Zero) > TimeSpan.Zero) 
                {
                    <span>
                        +@(Model.BancoDeHorasCredito.Value.TotalHours >= 1
                           ? $"{(int)Model.BancoDeHorasCredito.Value.TotalHours}:{Model.BancoDeHorasCredito.Value.Minutes.ToString().PadLeft(2, '0')}"
                           : $"00:{Model.BancoDeHorasCredito.Value.Minutes.ToString().PadLeft(2, '0')}")
                    </span>
                }
                else if ((Model.BancoDeHorasDebito ?? TimeSpan.Zero) > TimeSpan.Zero) 
                {
                    <span>
                        -@(Model.BancoDeHorasDebito.Value.TotalHours >= 1
                           ? $"{(int)Model.BancoDeHorasDebito.Value.TotalHours}:{Model.BancoDeHorasDebito.Value.Minutes.ToString().PadLeft(2, '0')}"
                           : $"00:{Model.BancoDeHorasDebito.Value.Minutes.ToString().PadLeft(2, '0')}")
                    </span>
                }
            </td>
        }
    }
</tr>
