@model List<LogAuditoriaPonto>

@{
    var vinculoId = (int)ViewBag.VinculoId;
    var mesAno = (string)ViewBag.MesAno;
    var pontoDoDiaId = ViewBag.PontoDoDiaId as int?;
}

<div class="modal fade" id="_ModalAuditoria" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Auditoria - @(pontoDoDiaId.HasValue ? "Dia" : "Folha") (@mesAno)
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                @if (Model == null || Model.Count == 0)
                {
                    <div class="alert alert-info">Nenhuma alteração registrada.</div>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead style="background:#f3f3f3">
                                <tr>
                                    <th class="text-center" width="15%">Data/Hora</th>
                                    <th class="text-center" width="25%">Usuário</th>
                                    <th>Detalhes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var l in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @l.DataHora.ToString("dd/MM/yyyy")
                                            <br />
                                            @l.DataHora.ToString("HH:mm")
                                        </td>
                                        <td class="text-center">@l.UsuarioNome</td>
                                        <td style="white-space:pre-wrap">@l.Descricao</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>