@model PontoDoDia

@{
    string acao = ViewBag.Acao;
    string titulo = string.Empty;

    int? justificativaId = null;
    TimeSpan? hora = null;
    bool registroPodeSerDesconsiderado = false;
    int? registroId = null;
    string origem = string.Empty;
    var podeDesconsiderarRegistro = Context.PossuiPermissao(eItemDePermissao_FolhaDePonto.DesconsiderarRegistros);

    RegistroAplicativo registroAplicativo = null;

    switch (acao.ToLower())
    {
        case "entrada1":
            titulo = "Entrada 1";
            justificativaId = Model.JustificativaPeriodo1Id;
            hora = Model.Entrada1;
            registroAplicativo = Model.RegistroDePontoEntrada1?.RegistroAplicativo;
            registroId = Model.RegistroDePontoEntrada1Id;
            registroPodeSerDesconsiderado = podeDesconsiderarRegistro && Model.RegistroDePontoEntrada1Id.HasValue;
            origem = Model.RegistroDePontoEntrada1?.RegistroAplicativoId.HasValue ?? false ? "Aplicativo" : Model?.RegistroDePontoEntrada1?.EquipamentoDePonto.Descricao;
            break;
        case "saida1":
            titulo = "Saída 1";
            justificativaId = Model.JustificativaPeriodo1Id;
            hora = Model.Saida1;
            registroAplicativo = Model.RegistroDePontoSaida1?.RegistroAplicativo;
            registroId = Model.RegistroDePontoSaida1Id;
            registroPodeSerDesconsiderado = podeDesconsiderarRegistro && Model.RegistroDePontoSaida1Id.HasValue;
            origem = Model.RegistroDePontoSaida1?.RegistroAplicativoId.HasValue ?? false ? "Aplicativo" : Model?.RegistroDePontoSaida1?.EquipamentoDePonto.Descricao;
            break;

        case "entrada2":
            titulo = "Entrada 2";
            justificativaId = Model.JustificativaPeriodo2Id;
            registroAplicativo = Model.RegistroDePontoEntrada2?.RegistroAplicativo;
            hora = Model.Entrada2;
            registroId = Model.RegistroDePontoEntrada2Id;
            registroPodeSerDesconsiderado = podeDesconsiderarRegistro && Model.RegistroDePontoEntrada2Id.HasValue;
            origem = Model.RegistroDePontoEntrada2?.RegistroAplicativoId.HasValue ?? false ? "Aplicativo" : Model?.RegistroDePontoEntrada2?.EquipamentoDePonto.Descricao;
            break;
        case "saida2":
            titulo = "Saída 2";
            justificativaId = Model.JustificativaPeriodo2Id;
            hora = Model.Saida2;
            registroAplicativo = Model.RegistroDePontoSaida2?.RegistroAplicativo;
            registroId = Model.RegistroDePontoSaida2Id;
            registroPodeSerDesconsiderado = podeDesconsiderarRegistro && Model.RegistroDePontoSaida2Id.HasValue;
            origem = Model.RegistroDePontoSaida2?.RegistroAplicativoId.HasValue ?? false ? "Aplicativo" : Model?.RegistroDePontoSaida2?.EquipamentoDePonto.Descricao;
            break;

        case "entrada3":
            titulo = "Entrada 3";
            justificativaId = Model.JustificativaPeriodo3Id;
            hora = Model.Entrada3;
            registroAplicativo = Model.RegistroDePontoEntrada3?.RegistroAplicativo;
            registroId = Model.RegistroDePontoEntrada3Id;
            registroPodeSerDesconsiderado = podeDesconsiderarRegistro && Model.RegistroDePontoEntrada3Id.HasValue;
            origem = Model.RegistroDePontoEntrada3?.RegistroAplicativoId.HasValue ?? false ? "Aplicativo" : Model?.RegistroDePontoEntrada3?.EquipamentoDePonto.Descricao;
            break;
        case "saida3":
            titulo = "Saída 3";
            justificativaId = Model.JustificativaPeriodo3Id;
            hora = Model.Saida3;
            registroAplicativo = Model.RegistroDePontoSaida3?.RegistroAplicativo;
            registroId = Model.RegistroDePontoSaida3Id;
            registroPodeSerDesconsiderado = podeDesconsiderarRegistro && Model.RegistroDePontoSaida3Id.HasValue;
            origem = Model.RegistroDePontoSaida3?.RegistroAplicativoId.HasValue ?? false ? "Aplicativo" : Model?.RegistroDePontoSaida3?.EquipamentoDePonto.Descricao;
            break;

        case "entrada4":
            titulo = "Entrada 4";
            justificativaId = Model.JustificativaPeriodo4Id;
            hora = Model.Entrada4;
            registroAplicativo = Model.RegistroDePontoEntrada4?.RegistroAplicativo;
            registroId = Model.RegistroDePontoEntrada4Id;
            registroPodeSerDesconsiderado = podeDesconsiderarRegistro && Model.RegistroDePontoEntrada4Id.HasValue;
            origem = Model.RegistroDePontoEntrada4?.RegistroAplicativoId.HasValue ?? false ? "Aplicativo" : Model?.RegistroDePontoEntrada4?.EquipamentoDePonto.Descricao;
            break;
        case "saida4":
            titulo = "Saída 4";
            justificativaId = Model.JustificativaPeriodo4Id;
            hora = Model.Saida4;
            registroAplicativo = Model.RegistroDePontoSaida4?.RegistroAplicativo;
            registroId = Model.RegistroDePontoSaida4Id;
            registroPodeSerDesconsiderado = podeDesconsiderarRegistro && Model.RegistroDePontoSaida4Id.HasValue;
            origem = Model.RegistroDePontoSaida4?.RegistroAplicativoId.HasValue ?? false ? "Aplicativo" : Model?.RegistroDePontoSaida4?.EquipamentoDePonto.Descricao;
            break;

        case "entrada5":
            titulo = "Entrada 5";
            justificativaId = Model.JustificativaPeriodo4Id;
            hora = Model.Entrada4;
            registroAplicativo = Model.RegistroDePontoEntrada5?.RegistroAplicativo;
            registroId = Model.RegistroDePontoEntrada5Id;
            registroPodeSerDesconsiderado = podeDesconsiderarRegistro && Model.RegistroDePontoEntrada5Id.HasValue;
            origem = Model.RegistroDePontoEntrada5?.RegistroAplicativoId.HasValue ?? false ? "Aplicativo" : Model?.RegistroDePontoEntrada5?.EquipamentoDePonto.Descricao;
            break;
        case "saida5":
            titulo = "Saída 5";
            justificativaId = Model.JustificativaPeriodo5Id;
            hora = Model.Saida5;
            registroAplicativo = Model.RegistroDePontoSaida5?.RegistroAplicativo;
            registroId = Model.RegistroDePontoSaida5Id;
            registroPodeSerDesconsiderado = podeDesconsiderarRegistro && Model.RegistroDePontoSaida5Id.HasValue;
            origem = Model.RegistroDePontoSaida5?.RegistroAplicativoId.HasValue ?? false ? "Aplicativo" : Model?.RegistroDePontoSaida5?.EquipamentoDePonto.Descricao;
            break;

        case "abono":
            titulo = "Abono";
            break;
    }
}

<div class="modal" tabindex="-1" id="_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @titulo
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formulario-pontodia">
                    @Html.Hidden("DataModal", Model.Data.ToString("yyyy-MM-dd"))
                    @Html.Hidden("DataTicks", Model.Data.Ticks)
                    @Html.HiddenFor(model => model.VinculoDeTrabalhoId)
                    @Html.Hidden("Acao", acao)
                    @Html.Hidden("RegistroId", registroId)
                    @Html.Hidden("PontoDoDiaId", Model.Id)

                    @if (!acao.Equals("abono")) 
                    {
                        @if (registroAplicativo != null)
                        {
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="border rounded p-3 shadow-sm bg-light">
                                        <div class="align-items-center mb-3" style="width: 100%; text-align: center">
                                            <h5 class="mb-0 text-dark"><i class='bx bx-mobile-alt fs-4 text-dark'></i> Registro@(registroAplicativo.Manual ? " manual" : string.Empty) via aplicativo</h5>
                                        </div>

                                        <div class="row g-3">

                                            <div class="col-md-6 d-flex align-items-center">
                                                <i class='bx bx-calendar-event text-primary fs-5 me-2'></i>
                                                <span class="fw-semibold text-dark">@registroAplicativo.DataHora.ToString("dd/MM/yyyy HH:mm")</span>
                                            </div>

                                            @if (!string.IsNullOrEmpty(registroAplicativo.Latitude) && !string.IsNullOrEmpty(registroAplicativo.Longitude))
                                            {
                                                <div class="col-md-6 d-flex align-items-center">
                                                    <a href="https://www.google.com/maps?q=@registroAplicativo.Latitude,@registroAplicativo.Longitude"
                                                       target="_blank"
                                                       style="width: 100%;"
                                                       class="px-3 btn btn-info btn-sm">
                                                        <i class="bx bx-map-pin me-1"></i> Ver no Mapa
                                                    </a>
                                                </div>
                                            }

                                            @if (!string.IsNullOrWhiteSpace(registroAplicativo.Observacao))
                                            {
                                                <div class="col-12 d-flex align-items-start">
                                                    <i class='bx bx-comment-dots text-info fs-5 me-2'></i>
                                                    <span style="text-align: justify">@registroAplicativo.Observacao</span>
                                                </div>
                                            }

                                            @if (!string.IsNullOrEmpty(registroAplicativo.AnexoPonto))
                                            {
                                                var caminhoImagem = Url.Content($"~/img/registrosapp/{Context.DadosDaSessao().OrganizacaoId}/{registroAplicativo.AnexoPonto}");
                                                <div class="col-12 text-center mt-3">
                                                    <img src="@caminhoImagem"
                                                         alt="Registro Fotográfico"
                                                         class="rounded shadow-sm border"
                                                         style="max-height: 220px; max-width: 100%; object-fit: cover; cursor: zoom-in;"
                                                         onclick="expandirImagem('@caminhoImagem')" />
                                                    <div class="text-muted small mt-1">
                                                        <i class="bx bx-fullscreen"></i> Clique para ampliar
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        else 
                        {
                            <div class="nav-align-top">
                                <ul class="nav nav-tabs mb-4" role="tablist">
                                    <li class="nav-item mb-1 mb-sm-0" role="presentation">
                                        <button type="button" class="nav-link @(justificativaId.HasValue ? string.Empty : "active")" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-hora" aria-controls="navs-pills-hora" aria-selected="true">
                                            <span class="d-none d-sm-block">
                                                HORA
                                            </span>
                                            <i class="bx bx-home bx-sm d-sm-none"></i>
                                        </button>
                                    </li>
                                    <li class="nav-item mb-1 mb-sm-0" role="presentation">
                                        <button type="button" class="nav-link @(justificativaId.HasValue ? "active" : string.Empty)" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-justificativa" aria-controls="navs-pills-justificativa" aria-selected="false" tabindex="-1">
                                            <span class="d-none d-sm-block">
                                                JUSTIFICATIVA
                                            </span>
                                            <i class="bx bx-user bx-sm d-sm-none"></i>
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content" style="padding: 0px !important">
                                    <div class="tab-pane fade @(justificativaId.HasValue ? string.Empty : "active show")" id="navs-pills-hora" role="tabpanel">
                                        @if (!string.IsNullOrEmpty(origem))
                                        {
                                            <badge class="badge badge-secondary" style="background: cadetblue; width: 100%; font-size: 13px; margin-bottom: 10px;">REGISTRO FEITO EM: @origem</badge>
                                        }
                                        <div class="row">
                                            <div class="col col-md-@(registroId.HasValue && registroPodeSerDesconsiderado ? 5 : 4)">
                                                <div class="input-group input-group-merge">
                                                    @if (registroId.HasValue)
                                                    {
                                                        <span id="basic-icon-default-fullname2" class="input-group-text" style="background: #f2f3f4;"><i class="bx bx-time"></i></span>
                                                        @Html.TextBox("ValorHora", hora?.ToString(@"hh\:mm"), new { @class = "form-control hora", @disabled = "disabled", @readonly = "readonly" })
                                                        @if (registroPodeSerDesconsiderado)
                                                        {
                                                            <button type="button" class="btn btn-danger btn-sm" title="Desconsiderar registro atual para folha de ponto" onclick="executeRemoverRegistroPontoDia()">
                                                                <i class="bx bx-block"></i>
                                                            </button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-time"></i></span>
                                                        @Html.TextBox("ValorHora", hora?.ToString(@"hh\:mm"), new { @class = "form-control hora" })
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade @(justificativaId.HasValue ? "active show" : string.Empty)" id="navs-pills-justificativa" role="tabpanel">
                                        <div class="row">
                                            <div class="col col-md-12">
                                                @Html.DropDownList("JustificativaId", new SelectList(ViewBag.Justificativas, "Codigo", "Descricao", justificativaId), "<<Sem justificativa>>", new { @class = "select2" })
                                                <br />
                                                <div class="note">
                                                    Quando informada, serão desconsiderados os registros de entrada e saída para o período. Eles serão substituídos pela justificativa informada aqui.
                                                    <br />
                                                    Se, no cadastro da justificativa, estiver informada como 'Abono', não será gerada nenhuma hora negativa para esse período.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else 
                    {
                        <div class="row">
                            <div class="col col-md-4">

                            </div>
                        </div>
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class='bx bx-window-close'></i> Fechar
                </button>
                @if (registroAplicativo == null)
                {
                    <button type="button" class="btn btn-primary" id="btn-salvar-modal" onclick="salvarPontoDia(false, null)">
                        <i class='bx bxs-save'></i> Salvar
                    </button>
                }
            </div>
        </div>
    </div>
</div>