@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.Servicos.Extensao
@model List<PontoDoDia>

@{
    const int larguraPeriodo = 60;
    ViewBag.ExibirNomeServidor = false;
    var horarioDeTrabalho = (HorarioDeTrabalho)ViewBag.HorarioDeTrabalho;

    var configColunas = horarioDeTrabalho.ColunasVisiveis;
}

<style>
    .table thead tr th,
    .table tbody tr td {
    padding: 5px !important;
    }

    .linha-servidor:hover {
    background-color: #e9e9e938;
    }

    .item-selecionavel:hover {
    cursor: pointer;
    background: lightyellow !important;
    }

    .linha-afastamento-abono > td:not(:first-child) {
    background: ivory;
    }

    .linha-afastamento-sem-abono > td:not(:first-child) {
    background: #fff0f3;
    }

    .legenda > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
</style>

@* <div class="legenda">
    <ul style="display: flex; justify-content: space-evenly;">
        <li>
            <i class='bx bxs-square-rounded' style="color: ivory;"></i>&nbsp;Afastamento com Abono
        </li>
        <li>
            <i class='bx bxs-square-rounded' style="color: #fff0f3"></i>&nbsp;Afastamento sem Abono
        </li>
        <li>
            <b>*</b>&nbsp;Registro inserido manualmente
        </li>
    </ul>
</div>
<br /> *@

@Html.Hidden("PodeMovimentarRegistros", Context.PossuiPermissao(eItemDePermissao_FolhaDePonto.MoverRegistros).ToString().ToLower())
<table class="table table-bordered">
    <thead>
        <tr style="background-color: aliceblue;">
            <th class="text-center">
                Data
            </th>
            <th class="text-center" width="@(larguraPeriodo)px">
                ENT<br />1
            </th>
            <th class="text-center" width="@(larguraPeriodo)px">
                SAI<br />1
            </th>
            <th class="text-center" width="@(larguraPeriodo)px">
                ENT<br />2
            </th>
            <th class="text-center" width="@(larguraPeriodo)px">
                SAI<br />2
            </th>
            <th class="text-center" width="@(larguraPeriodo)px">
                ENT<br />3
            </th>
            <th class="text-center" width="@(larguraPeriodo)px">
                SAI<br />3
            </th>
            @if (horarioDeTrabalho.UtilizaCincoPeriodos)
            {
                <th class="text-center" width="@(larguraPeriodo)px">
                    ENT<br />4
                </th>
                <th class="text-center" width="@(larguraPeriodo)px">
                    SAI<br />4
                </th>

                <th class="text-center" width="@(larguraPeriodo)px">
                    ENT<br />5
                </th>
                <th class="text-center" width="@(larguraPeriodo)px">
                    SAI<br />5
                </th>
            }

            @if (configColunas.HasFlag(eColunasDaFolha.HorasTrabalhadas))
            {
                <th class="text-center" width="@(larguraPeriodo)px">
                    HOR<br />TRA
                </th>
            }

            @if (configColunas.HasFlag(eColunasDaFolha.CargaHoraria))
            {
                <th class="text-center" width="@(larguraPeriodo)px">
                    CAR<br />HOR
                </th>
            }

            @if (horarioDeTrabalho.TipoCargaHoraria != AriD.BibliotecaDeClasses.Enumeradores.eTipoCargaHoraria.MensalFixa)
            {
                if (configColunas.HasFlag(eColunasDaFolha.HorasPositivas))
                {
                    <th class="text-center" width="@(larguraPeriodo)px">
                        HOR<br />POS
                    </th>
                }

                if (configColunas.HasFlag(eColunasDaFolha.HorasNegativas))
                {
                    <th class="text-center" width="@(larguraPeriodo)px">
                        HOR<br />NEG
                    </th>
                }
            }

            @if (horarioDeTrabalho.UtilizaBancoDeHoras)
            {
                if (configColunas.HasFlag(eColunasDaFolha.BHSaldo))
                {
                    <th class="text-center" width="@(larguraPeriodo)px">
                        BH<br />SALDO
                    </th>
                }

                if (configColunas.HasFlag(eColunasDaFolha.BHAjuste))
                {
                    <th class="text-center" width="@(larguraPeriodo)px">
                        BH<br />AJUSTE
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var vinculoDeTrabalho in Model)
        {
            @(await Html.PartialAsync("_LinhaPontoDia", vinculoDeTrabalho))
        }
    </tbody>
    <tfoot>
        <tr>
            @{
                string FormatarTimeSpan(TimeSpan valor)
                {
                    valor = valor.Duration();

                    var horas = (int)valor.TotalHours;
                    var minutos = valor.Minutes.ToString().PadLeft(2, '0');

                    return $"{horas:D2}:{minutos}";
                }
            }
            <td colspan="99" style="background-color: aliceblue; text-align: center">
                @{
                    var horasTrabalhadas = TimeSpan.FromTicks(Model.Where(c => !c.DataFutura).Sum(c => (c.HorasTrabalhadas ?? TimeSpan.Zero).Ticks));
                }
                @if (configColunas.HasFlag(eColunasDaFolha.HorasTrabalhadas))
                {
                    <b>HOR TRA:</b> @FormatarTimeSpan(horasTrabalhadas)@Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;")
                }
                @{
                    var cargaHorariaMensalFixa = horarioDeTrabalho.TipoCargaHoraria == AriD.BibliotecaDeClasses.Enumeradores.eTipoCargaHoraria.MensalFixa;
                    var cargaHoraria = TimeSpan.FromTicks(Model.Sum(c => (c.CargaHoraria ?? TimeSpan.Zero).Ticks));

                    if (cargaHorariaMensalFixa)
                    {
                        cargaHoraria = TimeSpan.FromHours(horarioDeTrabalho.CargaHorariaMensalFixa ?? 0);
                    }
                }
                @if (configColunas.HasFlag(eColunasDaFolha.CargaHoraria))
                {
                    <b>CAR HOR:</b> @FormatarTimeSpan(cargaHoraria)@Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;")
                }
                @{ 
                    var horasPositivasMes = cargaHorariaMensalFixa ?
                        (horasTrabalhadas > cargaHoraria ? horasTrabalhadas - cargaHoraria : TimeSpan.Zero) :
                        TimeSpan.FromTicks(Model.Where(c => !c.DataFutura).Sum(c => (c.HorasPositivas ?? TimeSpan.Zero).Ticks)); 
                }
                @if (configColunas.HasFlag(eColunasDaFolha.HorasPositivas))
                {
                    <b>HOR POS:</b> @FormatarTimeSpan(horasPositivasMes)@Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;")
                }
                @{
                    var horasNegativasMes = cargaHorariaMensalFixa ?
                        (cargaHoraria > horasTrabalhadas ? cargaHoraria - horasTrabalhadas : TimeSpan.Zero) :
                        TimeSpan.FromTicks(Model.Where(c => !c.DataFutura).Sum(c => (c.HorasNegativas ?? TimeSpan.Zero).Ticks));
                }
                @if (configColunas.HasFlag(eColunasDaFolha.HorasNegativas))
                {
                    <b>HOR NEG:</b> @FormatarTimeSpan(horasNegativasMes)@Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;")
                }
                @{
                    string FormatarSaldoMes(TimeSpan? horasPositivas, TimeSpan? horasNegativas)
                    {
                        if ((horasPositivas ?? TimeSpan.Zero) > TimeSpan.Zero || (horasNegativas ?? TimeSpan.Zero) > TimeSpan.Zero) 
                        {
                            if (horasPositivas == horasNegativas)
                            {
                                return "00:00";
                            }

                            if (horasPositivas > horasNegativas)
                            {
                                var diferencahoras = horasPositivas - horasNegativas;
                                return "+" + (diferencahoras.Value.TotalHours >= 1
                                    ? $"{(int)diferencahoras.Value.TotalHours}:{diferencahoras.Value.Minutes.ToString().PadLeft(2, '0')}"
                                    : $"00:{diferencahoras.Value.Minutes.ToString().PadLeft(2, '0')}");
                            }
                            else
                            {
                                var diferencahoras = horasNegativas - horasPositivas;
                                return "-" + (diferencahoras.Value.TotalHours >= 1
                                    ? $"{(int)diferencahoras.Value.TotalHours}:{diferencahoras.Value.Minutes.ToString().PadLeft(2, '0')}"
                                    : $"00:{diferencahoras.Value.Minutes.ToString().PadLeft(2, '0')}");
                            }
                        }

                        return string.Empty;
                    }
                }
                <b>MÊS SALDO:</b> @(FormatarSaldoMes(horasPositivasMes, horasNegativasMes))@Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;")
                @if (Model.Any(c => c.VinculoDeTrabalho.HorarioDeTrabalho.UtilizaBancoDeHoras))
                {
                    var ultimoRegistroBanco = Model.OrderBy(c => c.Data).LastOrDefault(c => !c.DataFutura);

                    string FormatarBancoDeHoras(PontoDoDia ultimoRegistroBanco)
                    {
                        if ((ultimoRegistroBanco.BancoDeHorasCredito ?? TimeSpan.Zero) > TimeSpan.Zero)
                        {
                            return "+" + (ultimoRegistroBanco.BancoDeHorasCredito.Value.TotalHours >= 1
                            ? $"{(int)ultimoRegistroBanco.BancoDeHorasCredito.Value.TotalHours}:{ultimoRegistroBanco.BancoDeHorasCredito.Value.Minutes.ToString().PadLeft(2, '0')}"
                            : $"00:{ultimoRegistroBanco.BancoDeHorasCredito.Value.Minutes.ToString().PadLeft(2, '0')}");
                        }
                        else if ((ultimoRegistroBanco.BancoDeHorasDebito ?? TimeSpan.Zero) > TimeSpan.Zero)
                        {
                            return "-" + (ultimoRegistroBanco.BancoDeHorasDebito.Value.TotalHours >= 1
                            ? $"{(int)ultimoRegistroBanco.BancoDeHorasDebito.Value.TotalHours}:{ultimoRegistroBanco.BancoDeHorasDebito.Value.Minutes.ToString().PadLeft(2, '0')}"
                            : $"00:{ultimoRegistroBanco.BancoDeHorasDebito.Value.Minutes.ToString().PadLeft(2, '0')}");
                        }

                        return string.Empty;
                    }

                    @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;")

                    if (configColunas.HasFlag(eColunasDaFolha.BHSaldo))
                    {
                        <b>BH SALDO:</b> @FormatarBancoDeHoras(ultimoRegistroBanco)@Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;")
                    }
                }
            </td>
        </tr>
        <tr>
            <td colspan="99" style="background-color: lightyellow; text-align: center">
                <b>LEGENDA:</b>
                &nbsp;&nbsp;&nbsp;&nbsp;

                @eTipoDeRegistroDePeriodo.RegistroAplicativo.DescricaoTipoDeRegistroDoEnumerador() - Aplicativo
                &nbsp;&nbsp;&nbsp;&nbsp;

                @eTipoDeRegistroDePeriodo.RegistroManual.DescricaoTipoDeRegistroDoEnumerador() - Manual
                &nbsp;&nbsp;&nbsp;&nbsp;

                @eTipoDeRegistroDePeriodo.Automatico.DescricaoTipoDeRegistroDoEnumerador() - Intervalo Automático
            </td>
        </tr>
    </tfoot>
</table>