@model UnidadeOrganizacional

<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
            Alterar Unidade Organizacional
        </h5>
        <small class="text-muted float-end">
            Campos com <span style="color: red">*</span> são obrigatórios.
        </small>
    </div>
    <div class="card-body">
        <form id="formulario-unidade">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.EnderecoId)
            @Html.HiddenFor(model => model.OrganizacaoId)
            <div class="row">
                <div class="col col-md-12">
                    <label class="form-label">Organização</label>
                    @Html.TextBox("OrganizacaoNome", Model.Organizacao.Nome, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-10 col-md-8 col-xs-12">
                    <label class="form-label obrigatorio" for="Nome">Nome</label>
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                </div>

                <div class="col col-lg-2 col-md-4 col-xs-12">
                    <label class="form-label obrigatorio" for="Ativa">Ativa</label>
                    @Html.CheckboxDropDownListFor(model => model.Ativa, new { @class = "form-select" })
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-3 col-md-4 col-xs-12">
                    <label class="form-label obrigatorio" for="CNPJ">CNPJ</label>
                    @Html.TextBoxFor(model => model.CNPJ, new { @class = "form-control", @maxlength = "18" })
                </div>

                <div class="col col-lg-9 col-md-8 col-xs-12">
                    <label class="form-label obrigatorio" for="Tipo">Tipo</label>
                    @Html.EnumDropDownListFor(model => model.Tipo, new { @class = "form-select" })
                </div>
            </div>
            <br />
            @{
                ViewBag.PrefixoEndereco = "Endereco.";
            }
            @await Html.PartialAsync("_EnderecoPartial", Model.Endereco)
            <br />

            <h6>Cerca Virtual (Geofencing)</h6>
            <div class="row">
                <div class="col col-lg-3 col-md-4 col-xs-12">
                    <label class="form-label" for="Latitude">Latitude</label>
                    @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control", placeholder = "Ex: -15.123456" })
                </div>
                <div class="col col-lg-3 col-md-4 col-xs-12">
                    <label class="form-label" for="Longitude">Longitude</label>
                    @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control", placeholder = "Ex: -48.123456" })
                </div>
                <div class="col col-lg-3 col-md-4 col-xs-12">
                    <label class="form-label" for="RaioDaCercaVirtualEmMetros">Raio da Cerca (Metros)</label>
                    @Html.TextBoxFor(model => model.RaioDaCercaVirtualEmMetros, new { @class = "form-control", type = "number", placeholder = "Ex: 100" })
                    <small class="text-muted">Distância máxima permitida para o ponto.</small>
                </div>
            </div>
            <br />
            <h6>Notificações de Conectividade</h6>
            <div class="row">
                <div class="col col-lg-3 col-md-4 col-xs-12">
                    <label class="form-label" for="RecebeNotificacaoConectividade">Receber notificações de conectividade</label>
                    @Html.CheckboxDropDownListFor(model => model.RecebeNotificacaoConectividade, new { @class = "form-select" })
                </div>
                <div class="col col-lg-6 col-md-8 col-xs-12">
                    <label class="form-label" for="EmailNotificacaoConectividade">E-mail para recebimento das notificações</label>
                    @Html.TextBoxFor(model => model.EmailNotificacaoConectividade, new { @class = "form-control", placeholder = "Ex: unidade@suaempresa.com.br" })
                    <small class="text-muted">Se ativado, envia notificações apenas dos equipamentos desta unidade.</small>
                </div>
            </div>
            <br />
            <button type="button" class="btn btn-secondary" onclick="CarregarPagina('@Url.Action("Alterar", "Organizacao", new { id = Model.OrganizacaoId })')">
                <i class='bx bxs-left-arrow-circle'></i> Voltar
            </button>

            <button type="button" class="btn btn-primary" id="btn-salvar">
                <i class='bx bxs-save'></i> Salvar
            </button>
        </form>
    </div>
</div>

<script src="/Scripts/Paginas/UnidadeOrganizacional/alterar.js?t=@DateTime.Now.Ticks"></script>