@using AriD.BibliotecaDeClasses.Entidades
@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.GerenciamentoDePonto.WebGrid

@model ListaPaginada<Motorista>

@{
    var tabela = new WebGrid<Motorista>(Model, "grid", null);

    var listaDeColunas = new List<WebGridColumn>
    {
        tabela.Column("Servidor.Pessoa.Nome", "Motorista", width: 50f),
        tabela.Column("NumeroCNH", "CNH", format:
            @<text>
                <div>@item.NumeroCNH</div>
                @{
                    var diasParaVencer = (item.VencimentoCNH.Date - DateTime.Today).TotalDays;
                    if (diasParaVencer <= 0)
                    {
                        var linkText = diasParaVencer == 0 ? "VENCE HOJE" : $"VENCIDA HÁ {Math.Abs(diasParaVencer)} DIAS";
                        <span class="badge bg-label-danger" style="font-size: 0.7rem;">@linkText</span>
                    }
                    else if (diasParaVencer <= 45)
                    {
                        var destaque = diasParaVencer <= 10 ? "font-weight: bold;" : "";
                        <span class="badge bg-label-warning" style="font-size: 0.7rem; @destaque">VENCE EM @diasParaVencer DIAS</span>
                    }
                }
            </text>, width: 20f),
        tabela.Column("CategoriaCNH", "Categoria", format: @<text>@item.CategoriaCNH.ToString()</text>, width: 10f),
        tabela.Column("Situacao", "Situação", format:
            @<text>
                @if (item.Situacao == eStatusMotorista.Ativo)
            {
                <span class="badge bg-label-success">Ativo</span>
            }
            else
            {
                <span class="badge bg-label-danger">Inativo</span>
            }
            </text>, width: 10f),
        tabela.Column(string.Empty, "Ação", format:
            @<text>
                <button type="button" class="btn btn-primary btn-sm" onclick="abrirModal(@item.Id)">
                    <i class='bx bxs-edit-alt'></i>
                </button>
            </text>, width: 10f)
    };
}

@(await tabela.Table(listaDeColunas, string.Empty, Html.PartialAsync("_PaginacaoWebGrid")))
