@using AriD.BibliotecaDeClasses.Enumeradores
@using AriD.Servicos.Extensao
@model JustificativaDeAusencia

@{
    var adicionar = Model.Id == 0;
    var podeRemover = Context.PossuiPermissao(eItemDePermissao_JustificativaDeAusencia.Excluir);
    var podeAlterar = Context.PossuiPermissao(eItemDePermissao_JustificativaDeAusencia.CadastrarOuAlterar);
}

<div class="modal" tabindex="-1" id="_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(adicionar ? "Adicionar" : "Alterar") Justificativa de Ausência</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formulario-justificativa">
                    @Html.HiddenFor(model => model.Id)
                    <div class="row">
                        <div class="col col-lg-4 col-md-12 col-sm-6">
                            <label class="form-label obrigatorio" for="Sigla">Sigla</label>
                            @Html.TextBoxFor(model => model.Sigla, new { @class = "form-control", @maxlength = "5" })
                        </div>

                        <div class="col col-lg-4 col-md-12 col-sm-6 float-end">
                            <label class="form-label obrigatorio" for="Ativa">Ativa</label>
                            @Html.CheckboxDropDownListFor(model => model.Ativa, new { @class = "form-select" })
                        </div>

                        <div class="col col-lg-4 col-md-12 col-sm-6 float-end">
                            <label class="form-label obrigatorio" for="Abono">Abono</label>
                            @Html.CheckboxDropDownListFor(model => model.Abono, new { @class = "form-select" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-12">
                            <label class="form-label obrigatorio" for="Descricao">Descrição</label>
                            @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", @maxlength = "100" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-12 col-sm-12">
                            <label class="form-label obrigatorio" for="LocalDeUso">Local de Uso</label>
                            @Html.EnumDropDownListFor(model => model.LocalDeUso, new { @class = "select2" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-8 col-sm-12">
                            <label class="form-label obrigatorio" for="TipoDeLimite">Limite de Uso por @Context.DadosDaSessao().NomenclaturaServidor.NomenclaturaSingular()</label>
                            @Html.EnumDropDownListFor(model => model.TipoDeLimite, new { @class = "form-select", @onchange = "onChangeTipoDeLimite()" })
                        </div>

                        <div class="col col-md-4 col-sm-12" 
                            style="@(Model.TipoDeLimite == eTipoDeLimiteDeJustificativa.NaoUtiliza ? "display:none" : string.Empty)">
                            <label class="form-label @(Model.TipoDeLimite != eTipoDeLimiteDeJustificativa.NaoUtiliza ? "obrigatorio" : string.Empty)" id="LabelTotalDeUsos" for="TotalDeUsos">Limite no Período</label>
                            @Html.TextBoxFor(model => model.TotalDeUsos, new { @class = "form-control numeroAte999", @maxlength = "3" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class='bx bx-window-close'></i> Fechar
                </button>

                @if (!adicionar && podeRemover)
                {
                    <button type="button" class="btn btn-danger" onclick="removerRegistro()">
                        <i class='bx bx-trash'></i> Remover
                    </button>
                }

                @if (podeAlterar)
                {
                    <button type="button" class="btn btn-primary" id="btn-salvar-modal">
                        <i class='bx bxs-save'></i> Salvar
                    </button>
                }
            </div>
        </div>
    </div>
</div>