@using AriD.BibliotecaDeClasses.Enumeradores
@model Organizacao

@{
    var dadosDaSessao = this.Context.DadosDaSessao();
}

<style>
    #div-dados-esquerda {
        position: absolute;
        float: left;
        margin-bottom: 10px;
    }

    #div-dados-direita {
        margin-left: 170px;
    }

    .img-foto {
        margin-bottom: 10px;
        border: 1px solid gray
    }

        .img-foto:hover {
            cursor: pointer;
        }

    @@media (width <= 770px) {
        #div-dados-direita {
            margin-left: 0px;
        }

        #div-dados-esquerda {
            position: initial;
            float: none;
            margin-bottom: 10px;
        }
    }
</style>

<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
            @(dadosDaSessao.Perfil == ePerfilDeAcesso.Organizacao ? "Minha Organização" : "Alterar Organização")
        </h5>
        <small class="text-muted float-end">
            Campos com <span style="color: red">*</span> são obrigatórios.
        </small>
    </div>
    <div class="card-body">
        <form id="formulario-organizacao">
            <div id="div-dados-esquerda">
                <img class="img-foto" src="/Organizacao/Brasao/@(Model.Id)?c=@DateTime.Now.Ticks" width="140px" height="140px" />
            </div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.EnderecoId)
            <div id="div-dados-direita">
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-xs-12">
                        <label class="form-label obrigatorio" for="Nome">Nome</label>
                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-2 col-md-4 col-xs-12">
                        <label class="form-label obrigatorio" for="Ativa">Ativa</label>
                        @if (dadosDaSessao.Perfil == ePerfilDeAcesso.AdministradorDeSistema)
                        {
                            @Html.CheckboxDropDownListFor(model => model.Ativa, new { @class = "form-select" })
                        }
                        else
                        {
                            @Html.CheckboxDropDownListFor(model => model.Ativa, new { @class = "form-select", @disabled = "disabled", @readonly = "readonly" })
                        }
                    </div>

                    <div class="col col-lg-2 col-md-4 col-xs-12">
                        <label class="form-label obrigatorio" for="GestaoMobileAtivo">Gestão Mobile</label>
                        @if (dadosDaSessao.Perfil == ePerfilDeAcesso.AdministradorDeSistema)
                        {
                            @Html.CheckboxDropDownListFor(model => model.GestaoMobileAtivo, new { @class = "form-select" })
                        }
                        else
                        {
                            @Html.CheckboxDropDownListFor(model => model.GestaoMobileAtivo, new { @class = "form-select", @disabled = "disabled", @readonly = "readonly" })
                        }
                    </div>

                    @if (dadosDaSessao.Perfil == ePerfilDeAcesso.AdministradorDeSistema)
                    {
                        <div class="col col-lg-3 col-md-4 col-xs-12">
                            <label class="form-label obrigatorio" for="EnvioDeMensagemWhatsAppExperimental">Envio de mensagem WhatsApp (Experimental)</label>
                            @Html.CheckboxDropDownListFor(model => model.EnvioDeMensagemWhatsAppExperimental, new { @class = "form-select" })
                        </div>

                        <div class="col col-lg-2 col-md-4 col-xs-12 float-end" onclick="enviarMensagemWhatsAppTeste()">
                            <label class="form-label">&nbsp;</label>
                            <button type="button" class="btn btn-primary btn-sm"><i class='bx bxl-whatsapp'></i> Enviar teste</button>
                        </div>
                    }
                </div>
                <!-- Gestao Mobile Configuration -->
                <div class="row mt-2">
                    <div class="col col-lg-3 col-md-4 col-xs-12">
                        <label class="form-label" for="LatitudeCentroide">Latitude Central (Gestão Mobile)</label>
                        @Html.TextBoxFor(model => model.LatitudeCentroide, new { @class = "form-control", placeholder = "Ex: -15.7942" })
                    </div>
                    <div class="col col-lg-3 col-md-4 col-xs-12">
                        <label class="form-label" for="LongitudeCentroide">Longitude Central (Gestão Mobile)</label>
                        @Html.TextBoxFor(model => model.LongitudeCentroide, new { @class = "form-control", placeholder = "Ex: -47.8821" })
                    </div>
                </div>
            </div>

            <br />
            @{
                ViewBag.PrefixoEndereco = "Endereco.";
            }
            @await Html.PartialAsync("_EnderecoPartial", Model.Endereco)
            <br />

            <button type="button" class="btn btn-secondary" onclick="CarregarPagina('@Url.Action("Index", "Organizacao")')">
                <i class='bx bxs-left-arrow-circle'></i> Voltar
            </button>

            <button type="button" class="btn btn-primary" id="btn-salvar">
                <i class='bx bxs-save'></i> Salvar
            </button>

        <hr />
        <div class="row">
            <div class="col col-xs-12">
                <h5>Nomenclaturas</h5>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4 col-xs-12">
                <label class="form-label obrigatorio" for="NomenclaturaServidor">Servidores</label>
                @Html.EnumDropDownListFor(model => model.NomenclaturaServidor, new { @class = "form-select" })
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col col-xs-12">
                <h5>Notificações de Conectividade</h5>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-3 col-md-4 col-xs-12">
                <label class="form-label" for="RecebeNotificacaoConectividade">Receber notificações de conectividade</label>
                @Html.CheckboxDropDownListFor(model => model.RecebeNotificacaoConectividade, new { @class = "form-select" })
            </div>
            <div class="col col-lg-6 col-md-8 col-xs-12">
                <label class="form-label" for="EmailNotificacaoConectividade">E-mail para recebimento das notificações</label>
                @Html.TextBoxFor(model => model.EmailNotificacaoConectividade, new { @class = "form-control", placeholder = "Ex: TI@suaempresa.com.br" })
                <small class="text-muted">Se ativado, envia um resumo de todos os equipamentos com problema na organização.</small>
            </div>
        </div>
        </form>

        <hr />
        <div class="row">
            <div class="col col-md-8 col-xs-12">
                <h5>Unidades Organizacionais</h5>
            </div>
            <div class="col col-md-4 col-xs-12 float-end">
                <button type="button" class="btn btn-primary btn-sm float-end" onclick="CarregarPagina('@Url.Action("Adicionar", "UnidadeOrganizacional", new { organizacaoId = Model.Id })')">
                    <i class='bx bx-list-plus'></i>
                </button>
            </div>
        </div>

        @Html.Hidden("Adicional")
        <div id="grid"></div>
    </div>
</div>
<input type="file" accept=".png, .jpg, .jpeg" id="fotoInput" style="display: none;" />

<script src="/Scripts/Paginas/Organizacao/alterar.js?t=@DateTime.Now.Ticks"></script>