@using AriD.Servicos.Extensao
@using AriD.BibliotecaDeClasses.Enumeradores

@model Aluno

@{
    var dadosDeSessao = Context.DadosDaSessao();
}

<style>
    .tab-content {
    padding: 0px !important;
    }

    .img-servidor {
    height: 100%;
    width: 100%
    }

    .img-servidor:hover {
    cursor: pointer;
    }
</style>

<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="row" style="width: 100%">
            <div class="col col-md-8 col-sm-12">
                <h5 class="mb-0">
                    Alterar Aluno
                </h5>
            </div>
            <div class="col-md-4 col-xs-12">
                <small class="text-muted float-end">
                    Campos com <span style="color: red">*</span> săo obrigatórios.
                </small>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="formulario-aluno">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Pessoa.EnderecoId)
            <div style="display: flex">
                <div style="width: 180px; height: 195px; border: 1px solid black;" >
                    <img class="img-servidor" src="/Foto/Aluno/@(Model.Id)?t=@DateTime.Now.Ticks" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" />
                    <div style="height: auto !important; text-align: center;" class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                        <div class="offcanvas-header" style="display: block;">
                            <h4 id="offcanvasBottomLabel" class="offcanvas-title">Gerenciar Foto do Servidor</h4>
                        </div>
                        <div class="offcanvas-body">
                            <button type="button" class="btn btn-primary me-3" onclick="abrirSelecionarArquivoImagem()">
                                <i class='bx bx-upload'></i>&nbsp;
                                Atualizar foto
                            </button>
                            <button type="button" class="btn btn-danger me-3" onclick="removerFotoServidor()">
                                <i class='bx bxs-trash-alt'></i>&nbsp;
                                Remover foto
                            </button>
                            <button type="button" id="fechar-offcanvas" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">
                                <i class='bx bx-window-close'></i>&nbsp;
                                Fechar
                            </button>
                        </div>
                        <br />
                    </div>
                </div>
                <div style="width: 100%; margin-left: 15px;">
                    <div class="row">
                        <div class="col col-lg-9 col-md-8 col-xs-12 col-12">
                            <label class="form-label obrigatorio" for="Pessoa_Nome">Nome</label>
                            @Html.TextBoxFor(model => model.Pessoa.Nome, new { @class = "form-control", @maxlength = "100" })
                        </div>

                        <div class="col col-lg-3 col-md-4 col-xs-12 col-12">
                            <label class="form-label obrigatorio" for="IdEquipamento">Id Equipamento</label>
                            @Html.TextBoxFor(model => model.IdEquipamento, new { @class = "form-control", @maxlength = "5" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-12col-xs-12">
                            <label class="form-label">Nome Social</label>
                            @Html.TextBoxFor(model => model.Pessoa.NomeSocial, new { @class = "form-control", @maxlength = "100" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-4 col-md-4 col-sm-12">
                            <label class="form-label obrigatorio" for="Pessoa_Cpf">CPF</label>
                            @Html.TextBoxFor(model => model.Pessoa.Cpf, new { @class = "form-control cpf" })
                        </div>

                        <div class="col col-lg-4 col-md-4 col-sm-12">
                            <label class="form-label obrigatorio" for="Pessoa_DataDeNascimento">Data de Nascimento</label>
                            @Html.TextBox("Pessoa_DataDeNascimento", Model.Pessoa.DataDeNascimento?.ToString("yyyy-MM-dd"), new { @class = "form-control data" })
                        </div>

                        <div class="col col-lg-4 col-md-4 col-sm-12">
                            <label class="form-label">RG</label>
                            @Html.TextBoxFor(model => model.Pessoa.Rg, new { @class = "form-control so-numeros" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="nav-align-top mb-6">
                <ul class="nav nav-pills mb-4 nav-fill" role="tablist">
                    <li class="nav-item mb-1 mb-sm-0" role="presentation">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#s1" aria-controls="s1" aria-selected="true">
                            <span class="d-sm-block">
                                <i class="tf-icons bx bxs-graduation bx-sm me-1_5 align-text-bottom"></i>
                                DADOS ESCOLARES
                            </span>
                        </button>
                    </li>

                    <li class="nav-item mb-1 mb-sm-0" role="presentation">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#s2" aria-controls="s2" aria-selected="true">
                            <span class="d-sm-block">
                                <i class="tf-icons bx bx-home bx-sm me-1_5 align-text-bottom"></i>
                                ENDEREÇO 
                            </span>
                        </button>
                    </li>

                    <li class="nav-item mb-1 mb-sm-0" role="presentation">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#s3" aria-controls="s3" aria-selected="true">
                            <span class="d-sm-block">
                                <i class="tf-icons bx bxs-user-account bx-sm me-1_5 align-text-bottom"></i>
                                RESPONSÁVEIS
                            </span>
                        </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="s1" role="tabpanel">
                        <div class="row">
                            <div class="col col-md-12">
                                <label class="form-label">Escola Atual</label>
                                @Html.TextBox("EscolaAtual", Model.Escola?.Nome ?? "<< Năo matriculado em nenhuma unidade >>", new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
                            </div>

                            <div class="col col-md-12">
                                <label class="form-label">Turma Atual</label>
                                @Html.TextBox("Turma", Model.AlunoTurmaAtual?.Turma.DescricaoComTurnoAnoLetivo ?? $"<< Năo alocado em nenhuma turma >>", new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
                            </div>
                        </div>

                        <br />
                        <h6>Histórico de Turmas</h6>
                        <table class="table table-bordered table-condensed table-responsive">
                            <thead>
                                <tr style="background: aliceblue;">
                                    <th class="text-center" style="vertical-align: middle" width="10%">
                                        Ano Letivo
                                    </th>
                                    <th class="text-center" style="vertical-align: middle" width="55%">
                                        Escola
                                        <br />
                                        Turma
                                    </th>
                                    <th class="text-center" style="vertical-align: middle" width="15%">
                                        Situaçăo
                                    </th>
                                    <th class="text-center" style="vertical-align: middle" width="20%">
                                        Período
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ListaDeVinculosDeTurma.Any())
                                {
                                    foreach (var alunoTurma in Model.ListaDeVinculosDeTurma.OrderBy(c => c.EntradaNaTurma))
                                    {
                                        <tr>
                                            <td class="text-center" style="vertical-align: middle">
                                                @alunoTurma.Turma.AnoLetivo
                                            </td>
                                            <td style="vertical-align: middle">
                                                <b>ESC:</b> @alunoTurma.Turma.Escola.Nome
                                                <br />
                                                <b>TUR:</b> @alunoTurma.Turma.Descricao - @alunoTurma.Turma.Turno.DescricaoDoEnumerador()
                                            </td>
                                            <td class="text-center" style="vertical-align: middle">
                                                @alunoTurma.Situacao.DescricaoDoEnumerador()
                                            </td>
                                            <td style="vertical-align: middle">
                                                <b>ENT:</b> @alunoTurma.EntradaNaTurma.ToString("dd/MM/yyyy")
                                                <br />
                                                <b>SAI:</b> @(alunoTurma.SaidaDaTurma.HasValue ? alunoTurma.SaidaDaTurma.Value.ToString("dd/MM/yyyy") : "-")
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="99" class="text-center">
                                            Nenhum registro de turma.
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade show" id="s2" role="tabpanel">
                        @{
                            ViewBag.PrefixoEndereco = "Pessoa.Endereco.";
                            ViewBag.EnderecoObrigatorio = true;
                        }
                        @await Html.PartialAsync("_EnderecoPartial", Model.Pessoa.Endereco)
                    </div>

                    <div class="tab-pane fade show" id="s3" role="tabpanel">
                        <b>Măe</b>
                        <div class="row">
                            <section class="col col-md-8 col-sm-12 col-12">
                                <label class="form-label">Nome</label>
                                @Html.TextBoxFor(model => model.NomeMae, new { @class = "form-control", @maxlength = 150 })
                            </section>

                            <section class="col col-md-4 col-sm-12 col-12">
                                <label class="form-label">Telefone</label>
                                @Html.TextBoxFor(model => model.TelefoneMae, new { @class = "form-control telefone", @maxlength = 150 })
                            </section>
                        </div>

                        <hr />
                        <b>Pai</b>
                        <div class="row">
                            <section class="col col-md-8 col-sm-12 col-12">
                                <label class="form-label">Nome</label>
                                @Html.TextBoxFor(model => model.NomePai, new { @class = "form-control", @maxlength = 150 })
                            </section>

                            <section class="col col-md-4 col-sm-12 col-12">
                                <label class="form-label">Telefone</label>
                                @Html.TextBoxFor(model => model.TelefonePai, new { @class = "form-control telefone", @maxlength = 150 })
                            </section>
                        </div>

                        <hr />
                        <b>Outro Responsável</b>
                        <div class="row">
                            <section class="col col-md-8 col-sm-12 col-12">
                                <label class="form-label">Nome</label>
                                @Html.TextBoxFor(model => model.NomeOutroResponsavel, new { @class = "form-control", @maxlength = 150 })
                            </section>

                            <section class="col col-md-4 col-sm-12 col-12">
                                <label class="form-label">Telefone</label>
                                @Html.TextBoxFor(model => model.TelefoneOutroResponsavel, new { @class = "form-control telefone", @maxlength = 150 })
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-md-12 col-sm-12 col-12">
                                <label class="form-label">Parentesco</label>
                                @Html.TextBoxFor(model => model.ParentescoOutroResponsavel, new { @class = "form-control", @maxlength = 50 })
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <button type="button" class="btn btn-secondary" onclick="CarregarPagina('@Url.Action("Index", "Aluno")')">
                <i class='bx bxs-left-arrow-circle'></i> Voltar
            </button>

            @if (!Model.EscolaId.HasValue)
            {
                <button type="button" class="btn btn-info" id="btn-matricular" onclick="matricularNaUnidade()">
                    <i class='bx bxs-user-check'></i> Matricular na escola
                </button>
            }
            else
            {
                <button type="button" class="btn btn-info" id="btn-desalocar" onclick="desalocarAlunoDaEscola()">
                    <i class='bx bxs-user-x'></i> Desalocar aluno
                </button>
            }

            <button type="button" class="btn btn-primary" id="btn-salvar">
                <i class='bx bxs-save'></i> Salvar
            </button>
        </form>
    </div>
</div>
<input style="display:none;" id="input-file" type="file" accept="image/png, image/jpg" />
<div id="div-modal"></div>

<script src="/Scripts/Paginas/Aluno/alterar.js?t=@DateTime.Now.Ticks"></script>
