@using AriD.BibliotecaDeClasses.Entidades
@using AriD.BibliotecaDeClasses.Enumeradores.Permissao
@model Veiculo

@{
    var adicionar = Model.Id == 0;
    var podeRemover = Context.PossuiPermissao(eItemDePermissao_Veiculo.Excluir);
    var podeAlterar = Context.PossuiPermissao(eItemDePermissao_Veiculo.CadastrarOuAlterar);
}

<div class="modal" tabindex="-1" id="_Modal" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(adicionar ? "Adicionar" : "Alterar") Veículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formulario-veiculo">
                    @Html.HiddenFor(model => model.Id)
                    
                    <div class="row">
                        <div class="col col-lg-3 col-md-6 col-sm-12">
                            <label class="form-label obrigatorio" for="Placa">Placa</label>
                            @Html.TextBoxFor(model => model.Placa, new { @class = "form-control", @maxlength = "10" })
                        </div>

                        <div class="col col-lg-3 col-md-6 col-sm-12">
                            <label class="form-label obrigatorio" for="Status">Status</label>
                            @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-select" })
                        </div>

                        <div class="col col-lg-3 col-md-6 col-sm-12">
                            <label class="form-label obrigatorio" for="Renavam">Renavam</label>
                            @Html.TextBoxFor(model => model.Renavam, new { @class = "form-control", @maxlength = "20" })
                        </div>
                        
                        <div class="col col-lg-3 col-md-6 col-sm-12">
                            <label class="form-label obrigatorio" for="Chassi">Chassi</label>
                            @Html.TextBoxFor(model => model.Chassi, new { @class = "form-control", @maxlength = "50" })
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col col-lg-3 col-md-3">
                            <label class="form-label obrigatorio" for="Marca">Marca</label>
                            @Html.TextBoxFor(model => model.Marca, new { @class = "form-control", @maxlength = "50" })
                        </div>
                        <div class="col col-lg-3 col-md-3">
                            <label class="form-label obrigatorio" for="Modelo">Modelo</label>
                            @Html.TextBoxFor(model => model.Modelo, new { @class = "form-control", @maxlength = "50" })
                        </div>
                        <div class="col col-lg-3 col-md-3">
                            <label class="form-label obrigatorio" for="Cor">Cor</label>
                            @Html.EnumDropDownListFor(model => model.Cor, new { @class = "form-select" })
                        </div>
                        <div class="col col-lg-3 col-md-3">
                            <label class="form-label obrigatorio" for="TipoCombustivel">Combustível</label>
                            @Html.EnumDropDownListFor(model => model.TipoCombustivel, new { @class = "form-select" })
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col col-lg-3 col-md-3">
                            <label class="form-label obrigatorio" for="AnoFabricacao">Ano Fab.</label>
                            @Html.TextBoxFor(model => model.AnoFabricacao, new { @class = "form-control", type = "number", min = "1900", max = "2100" })
                        </div>
                        <div class="col col-lg-3 col-md-3">
                            <label class="form-label obrigatorio" for="AnoModelo">Ano Mod.</label>
                            @Html.TextBoxFor(model => model.AnoModelo, new { @class = "form-control", type = "number", min = "1900", max = "2100" })
                        </div>
                        <div class="col col-lg-3 col-md-3">
                            <label class="form-label obrigatorio" for="QuilometragemAtual">Km Atual</label>
                            @Html.TextBoxFor(model => model.QuilometragemAtual, new { @class = "form-control", type = "number", min = "0" })
                        </div>
                        <div class="col col-lg-3 col-md-3">
                            <label class="form-label obrigatorio" for="VencimentoLicenciamento">Licenciamento</label>
                            @Html.TextBoxFor(model => model.VencimentoLicenciamento, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class='bx bx-window-close'></i> Fechar
                </button>

                @if (Model.Id > 0 && podeRemover)
                {
                    <button type="button" class="btn btn-danger" onclick="removerRegistro()">
                        <i class='bx bx-trash'></i> Remover
                    </button>
                }

                @if (podeAlterar)
                {
                    <button type="button" class="btn btn-primary" id="btn-salvar-modal">
                        <i class='bx bxs-save'></i> Salvar
                    </button>
                }
            </div>
        </div>
    </div>
</div>
